source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.1.0/direnvrc" "sha256-FAT2R9yYvVg516v3LiogjIc8YfsbWbMM/itqWsm5xTA="
use_flake
# reload when these files change
watch_file devshell.toml
watch_file flake.nix
watch_file flake.lock
