source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/1.4.0/direnvrc" "sha256-4XfVDjv75eHMWN4G725VW7BoOV4Vl3vAabK4YXIfPyE="
touch -r devshell.toml flake.nix ## hack until fixed upstream
use_flake
# reload when these files change
watch_file devshell.toml
watch_file flake.nix
watch_file flake.lock
