[hyperion]
  publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMoTdeqiDgd0BjhgDu96R+fD1s3PNmAB0UgHFet+IPhS"

  profiles = [
    "hardware/nuc",
    "profiles/default_fs",
    "profiles/hidpi",
    "profiles/k3s",
    "profiles/server",
    "profiles/state",
    "profiles/uuid_disk_crypt",
  ]

  users.groups.john.gid = 1337
  users.users.john.uid = 1337
  users.users.john.hashedPassword = "$6$Juk1xlDWz45N5dGc$W.BxolEvo.yWR3DgqzErIdXYYCXq4TjauGN8iA/kdlpaJiPw1lvdecydfF37yfnmTFU.vtnXUVVw3QOgwcJE.0"
  users.users.john.openssh.authorizedKeys.keys = [
    "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCyjMuNOFrZBi7CrTyu71X+aRKyzvTmwCEkomhB0dEhENiQ3PTGVVWBi1Ta9E9fqbqTW0HmNL5pjGV+BU8j9mSi6VxLzJVUweuwQuvqgAi0chAJVPe0FSzft9M7mJoEq5DajuSiL7dSjXpqNFDk/WCDUBE9pELw+TXvxyQpFO9KZwiYCCNRQY6dCjrPJxGwG+JzX6l900GFrgOXQ3KYGk8vzep2Qp+iuH1yTgEowUICkb/9CmZhHQXSvq2gAtoOsGTd9DTyLOeVwZFJkTL/QW0AJNRszckGtYdA3ftCUNsTLSP/VqYN9EjxcMHQe4PGjkK7VLb59DQJFyRQqvPXiUyxNloHcu/sDuiKHIk/0qDLHlVn2xc5zkvzSqoQxoXx+P4dDbje1KHLY8E96gLe2Csu0ti+qsM5KEvgYgwWwm2g3IBlaWwgAtC0UWEzIuBPrAgPd5vi+V50ITIaIk6KIV7JPOubLUXaLS5KW77pWyi9PqAGOXj+DgTWoB3QeeZh7CGhPL5fAecYN7Pw734cULZpnw10Bi/jp4Nlq1AJDk8BwLUJbzZ8aexwMf78syjkHJBBrTOAxADUE02nWBQd0w4K5tl/a3UnBYWGyX8TD44046Swl/RY/69PxFvYcVRuF4eARI6OWojs1uhoR9WkO8eGgEsuxxECwNpWxR5gjKcgJQ==",
    "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIJY3QSBIiRKN8/B3nHgCBDpauQBOftphOeuF2TaBHGQSAAAABHNzaDo=",
    "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIAwJWtQ5ZU9U0szWzJ+/GH2uvXZ15u9lL0RdcHdsXM0VAAAABHNzaDo=",
  ]

  networking.defaultGateway = "192.168.240.1"
  networking.interfaces.eth0.ipv4.addresses = [
    { address = "192.168.240.141", prefixLength = 24 }
  ]

  services.innernet.client.insane.enable = true
  services.innernet.client.insane.settings.interface = { address = "192.168.104.68/22", privateKeyFile = "/run/secrets/wg-home" }
  services.innernet.client.insane.settings.server = { publicKey = "Ca4OCVKasunoIVyh3vbp/HyLnrPWp7AOwEuV14PS1QY=", externalEndpoint = "65.108.2.146:51820", internalEndpoint = "192.168.104.1:51820" }

  system.autoUpgrade = { enable = true, flake = "github:johnae/world", allowReboot = true, dates = "*:0/15", randomizedDelaySec = "5min" }
  age.secrets.k3s-token.file = "secrets/k3s/token.age"
  age.secrets.wg-home.file = "secrets/hyperion/wg-home.age"

  networking.firewall.trustedInterfaces = [ "insane" ] ## trust the vpn mesh
  services.k3s.role = "agent"
  services.k3s.serverAddr = "https://192.168.104.1:6443"
  services.k3s.tokenFile = "/run/secrets/k3s-token"
  services.k3s.clusterCIDR = "10.128.128.0/21"
  services.k3s.serviceCIDR = "10.129.128.0/22"
  services.k3s.clusterDNS = "10.129.128.1"
  services.k3s.maxPodsPerNode = 30
  services.k3s.nodeCIDRMaskSize = 26
  services.k3s.flannelIface = "insane"
  services.k3s.nodeIP = "192.168.104.68"
  services.k3s.nodeExternalIP = "192.168.240.141"
  services.k3s.after = [ "innernet-client-insane.service" ]

[titan]
  publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOteEiVr+H3Q1tSw1bGQfjbVWuPggc/+w1vVXSFde0Rt"

  profiles = [
    "hardware/nuc",
    "profiles/default_fs",
    "profiles/hidpi",
    "profiles/k3s",
    "profiles/server",
    "profiles/state",
    "profiles/unifi_controller",
    "profiles/uuid_disk_crypt",
  ]

  users.groups.john.gid = 1337
  users.users.john.uid = 1337
  users.users.john.hashedPassword = "$6$6yT8x5V.3tTyRN2g$idNICkxytVFU6SR9DaafbU9W6.0qVdjyKMDzJCRWC/lwgjctxh4nFDCH2XHrEtb75WRsMFDGLJei0E3WiRqGz."
  users.users.john.openssh.authorizedKeys.keys = [
    "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCyjMuNOFrZBi7CrTyu71X+aRKyzvTmwCEkomhB0dEhENiQ3PTGVVWBi1Ta9E9fqbqTW0HmNL5pjGV+BU8j9mSi6VxLzJVUweuwQuvqgAi0chAJVPe0FSzft9M7mJoEq5DajuSiL7dSjXpqNFDk/WCDUBE9pELw+TXvxyQpFO9KZwiYCCNRQY6dCjrPJxGwG+JzX6l900GFrgOXQ3KYGk8vzep2Qp+iuH1yTgEowUICkb/9CmZhHQXSvq2gAtoOsGTd9DTyLOeVwZFJkTL/QW0AJNRszckGtYdA3ftCUNsTLSP/VqYN9EjxcMHQe4PGjkK7VLb59DQJFyRQqvPXiUyxNloHcu/sDuiKHIk/0qDLHlVn2xc5zkvzSqoQxoXx+P4dDbje1KHLY8E96gLe2Csu0ti+qsM5KEvgYgwWwm2g3IBlaWwgAtC0UWEzIuBPrAgPd5vi+V50ITIaIk6KIV7JPOubLUXaLS5KW77pWyi9PqAGOXj+DgTWoB3QeeZh7CGhPL5fAecYN7Pw734cULZpnw10Bi/jp4Nlq1AJDk8BwLUJbzZ8aexwMf78syjkHJBBrTOAxADUE02nWBQd0w4K5tl/a3UnBYWGyX8TD44046Swl/RY/69PxFvYcVRuF4eARI6OWojs1uhoR9WkO8eGgEsuxxECwNpWxR5gjKcgJQ==",
    "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIJY3QSBIiRKN8/B3nHgCBDpauQBOftphOeuF2TaBHGQSAAAABHNzaDo=",
    "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIAwJWtQ5ZU9U0szWzJ+/GH2uvXZ15u9lL0RdcHdsXM0VAAAABHNzaDo=",
  ]

  networking.defaultGateway = "192.168.240.1"
  networking.interfaces.eth0.ipv4.addresses = [
    { address = "192.168.240.142", prefixLength = 24 }
  ]

  services.innernet.client.insane.enable = true
  services.innernet.client.insane.settings.interface = { address = "192.168.104.67/22", privateKeyFile = "/run/secrets/wg-home" }
  services.innernet.client.insane.settings.server = { publicKey = "Ca4OCVKasunoIVyh3vbp/HyLnrPWp7AOwEuV14PS1QY=", externalEndpoint = "65.108.2.146:51820", internalEndpoint = "192.168.104.1:51820" }

  services.remote-unlock = [
    { enable = true, host = "65.108.2.146", port = 2222, identityFile = "/run/secrets/id_ed25519_remote_unlock", passwordFile = "/run/secrets/remote-disk-password" }
  ]

  system.autoUpgrade = { enable = true, flake = "github:johnae/world", allowReboot = true, dates = "*:0/15", randomizedDelaySec = "5min" }

  age.secrets.k3s-token.file = "secrets/k3s/token.age"
  age.secrets.ubnt-api-user-password.file = "secrets/ubnt-api-user-password.age"
  age.secrets.wg-home.file = "secrets/titan/wg-home.age"
  age.secrets.remote-disk-password.file = "secrets/remote-disk-password.age"
  age.secrets.id_ed25519_remote_unlock.file = "secrets/titan/id_ed25519_remote_unlock.age"

  networking.firewall.trustedInterfaces = [ "insane" ] ## trust the vpn mesh
  services.k3s.role = "agent"
  services.k3s.serverAddr = "https://192.168.104.1:6443"
  services.k3s.tokenFile = "/run/secrets/k3s-token"
  services.k3s.clusterCIDR = "10.128.128.0/21"
  services.k3s.serviceCIDR = "10.129.128.0/22"
  services.k3s.clusterDNS = "10.129.128.10"
  services.k3s.maxPodsPerNode = 30
  services.k3s.nodeCIDRMaskSize = 26
  services.k3s.flannelIface = "insane"
  services.k3s.nodeIP = "192.168.104.67"
  services.k3s.nodeExternalIP = "192.168.240.142"
  services.k3s.after = [ "innernet-client-insane.service" ]

[polaris]
  publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILOeY+TshjtBK5VQu4ZJVJ0ol1PsZxLvIy+YNCOtfZmd"

  profiles = [
    "hardware/ax41",
    "profiles/default_fs",
    "profiles/k3s",
    "profiles/server",
    "profiles/state",
  ]

  users.groups.john.gid = 1337
  users.users.john.uid = 1337
  users.users.john.hashedPassword = "$6$MY8KAtdXlQP5.$TEZbPueD71fYUGviybTjFWCD5s1eWmr9FK9WtoLFKFy3yfLu18KPJ2wAbK8ZVJDo52hsc0vGa4LKYbzb.pwPk0"
  users.users.john.openssh.authorizedKeys.keys = [
    "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCyjMuNOFrZBi7CrTyu71X+aRKyzvTmwCEkomhB0dEhENiQ3PTGVVWBi1Ta9E9fqbqTW0HmNL5pjGV+BU8j9mSi6VxLzJVUweuwQuvqgAi0chAJVPe0FSzft9M7mJoEq5DajuSiL7dSjXpqNFDk/WCDUBE9pELw+TXvxyQpFO9KZwiYCCNRQY6dCjrPJxGwG+JzX6l900GFrgOXQ3KYGk8vzep2Qp+iuH1yTgEowUICkb/9CmZhHQXSvq2gAtoOsGTd9DTyLOeVwZFJkTL/QW0AJNRszckGtYdA3ftCUNsTLSP/VqYN9EjxcMHQe4PGjkK7VLb59DQJFyRQqvPXiUyxNloHcu/sDuiKHIk/0qDLHlVn2xc5zkvzSqoQxoXx+P4dDbje1KHLY8E96gLe2Csu0ti+qsM5KEvgYgwWwm2g3IBlaWwgAtC0UWEzIuBPrAgPd5vi+V50ITIaIk6KIV7JPOubLUXaLS5KW77pWyi9PqAGOXj+DgTWoB3QeeZh7CGhPL5fAecYN7Pw734cULZpnw10Bi/jp4Nlq1AJDk8BwLUJbzZ8aexwMf78syjkHJBBrTOAxADUE02nWBQd0w4K5tl/a3UnBYWGyX8TD44046Swl/RY/69PxFvYcVRuF4eARI6OWojs1uhoR9WkO8eGgEsuxxECwNpWxR5gjKcgJQ==",
    "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIJY3QSBIiRKN8/B3nHgCBDpauQBOftphOeuF2TaBHGQSAAAABHNzaDo=",
    "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIAwJWtQ5ZU9U0szWzJ+/GH2uvXZ15u9lL0RdcHdsXM0VAAAABHNzaDo=",
  ]

  boot.kernelParams = [
    "ip=65.108.2.146::65.108.2.129:255.255.255.192:polaris:eth0:none",
  ]

  boot.initrd.availableKernelModules = [
    "r8169",
    "nvme",
    "ahci",
    "usbhid",
  ]

  boot.initrd.network.enable = true
  boot.initrd.network.postCommands = "echo 'cryptsetup-askpass' >> /root/.profile"
  boot.initrd.network.ssh.enable = true
  boot.initrd.network.ssh.port = 2222
  ## This isn't so nice. Have to copy the file to /keep/secrets and keep it there.
  boot.initrd.network.ssh.hostKeys = [
    "/keep/secrets/initrd_ed25519_key",
  ]
  boot.initrd.network.ssh.authorizedKeys = [
    "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCyjMuNOFrZBi7CrTyu71X+aRKyzvTmwCEkomhB0dEhENiQ3PTGVVWBi1Ta9E9fqbqTW0HmNL5pjGV+BU8j9mSi6VxLzJVUweuwQuvqgAi0chAJVPe0FSzft9M7mJoEq5DajuSiL7dSjXpqNFDk/WCDUBE9pELw+TXvxyQpFO9KZwiYCCNRQY6dCjrPJxGwG+JzX6l900GFrgOXQ3KYGk8vzep2Qp+iuH1yTgEowUICkb/9CmZhHQXSvq2gAtoOsGTd9DTyLOeVwZFJkTL/QW0AJNRszckGtYdA3ftCUNsTLSP/VqYN9EjxcMHQe4PGjkK7VLb59DQJFyRQqvPXiUyxNloHcu/sDuiKHIk/0qDLHlVn2xc5zkvzSqoQxoXx+P4dDbje1KHLY8E96gLe2Csu0ti+qsM5KEvgYgwWwm2g3IBlaWwgAtC0UWEzIuBPrAgPd5vi+V50ITIaIk6KIV7JPOubLUXaLS5KW77pWyi9PqAGOXj+DgTWoB3QeeZh7CGhPL5fAecYN7Pw734cULZpnw10Bi/jp4Nlq1AJDk8BwLUJbzZ8aexwMf78syjkHJBBrTOAxADUE02nWBQd0w4K5tl/a3UnBYWGyX8TD44046Swl/RY/69PxFvYcVRuF4eARI6OWojs1uhoR9WkO8eGgEsuxxECwNpWxR5gjKcgJQ==",
    "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIJY3QSBIiRKN8/B3nHgCBDpauQBOftphOeuF2TaBHGQSAAAABHNzaDo=",
    "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIAwJWtQ5ZU9U0szWzJ+/GH2uvXZ15u9lL0RdcHdsXM0VAAAABHNzaDo=",
    "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK+trOinD68RD1efI6p05HeaNA0SjzeRnUvpf22+jsq+",
  ]

  services.innernet.server.insane.enable = true
  services.innernet.server.insane.settings.openFirewall = true
  services.innernet.server.insane.settings.cidr = "192.168.104.0/22"
  services.innernet.server.insane.settings.listenPort = 51820
  services.innernet.server.insane.settings.privateKeyFile = "/run/secrets/wg-home"
  services.innernet.server.insane.settings.publicKey = "Ca4OCVKasunoIVyh3vbp/HyLnrPWp7AOwEuV14PS1QY="
  services.innernet.server.insane.settings.externalEndpoint = "65.108.2.146:51820"
  services.innernet.server.insane.settings.cidrs.home = { cidr = "192.168.104.64/26", parent = "insane" }
  services.innernet.server.insane.settings.peers.eris = { ip = "192.168.104.65", cidr = "home", publicKey = "Oya0T0tzAV25A7/Qp3tqKP+2KgGjA/OVuUmKzsTFpRo=", isAdmin = true }
  services.innernet.server.insane.settings.peers.carbon = { ip = "192.168.104.66", cidr = "home", publicKey = "WiNYoRIrLjyeuRkD4uhKJ0qKS32up4wYJSviR5q8QnY=", isAdmin = true }
  services.innernet.server.insane.settings.peers.titan = { ip = "192.168.104.67", cidr = "home", publicKey = "vNfSS1HsbnRqV6V/RfG0Aq1IoNQPS+IP2O162UlVQQA=" }
  services.innernet.server.insane.settings.peers.hyperion = { ip = "192.168.104.68", cidr = "home", publicKey = "zra1G18xLfq29/4DLBYKDr0BfhILaIHyhd09Bwl9Tj8=" }
  services.innernet.server.insane.settings.peers.triton = { ip = "192.168.104.69", cidr = "home", publicKey = "gq5yK4X2IqPz74Jc1GQlVb3rgmtuqn8yzlPMeN0UMVI=" }

  networking.defaultGateway = "65.108.2.129"
  networking.interfaces.eth0.ipv4.addresses = [
    { address = "65.108.2.146", prefixLength = 26 }
  ]
  networking.defaultGateway6 = { address = "fe80::1", interface = "eth0" }
  networking.interfaces.eth0.ipv6.addresses = [
    { address = "2a01:4f9:6a:51ed::2", prefixLength = 64 }
  ]

  networking.private-wireguard.enable = true
  networking.private-wireguard.ips = [
    "10.65.167.230/32",
    "fc00:bbbb:bbbb:bb01::2:a7e5/128"
  ]
  networking.private-wireguard.privateKeyFile = "/run/secrets/wg-net"
  networking.private-wireguard.peers = [
    { allowedIPs = [ "0.0.0.0/0", "::0/0" ], endpoint = "185.65.135.70:51820", publicKey = "615mnBGkvjZnD/vRbyL/6da7YhtctfB+jimN+wfV724=" }
  ]

  system.autoUpgrade = { enable = true, flake = "github:johnae/world", allowReboot = true, dates = "*:0/15", randomizedDelaySec = "5min" }

  age.secrets.k3s-token.file = "secrets/k3s/token.age"
  age.secrets.wg-home.file = "secrets/polaris/wg-home.age"
  age.secrets.wg-net.file = "secrets/polaris/wg-net.age"

  networking.firewall.trustedInterfaces = [ "insane" ] ## trust the vpn mesh
  services.k3s.role = "server"
  services.k3s.tokenFile = "/run/secrets/k3s-token"
  services.k3s.clusterCIDR = "10.128.128.0/21"
  services.k3s.serviceCIDR = "10.129.128.0/22"
  services.k3s.clusterDNS = "10.129.128.1"
  services.k3s.maxPodsPerNode = 30
  services.k3s.nodeCIDRMaskSize = 26
  services.k3s.flannelIface = "insane"
  services.k3s.nodeIP = "192.168.104.1"
  services.k3s.nodeExternalIP = "65.108.2.146"
  services.k3s.advertiseAddress = "192.168.104.1"
  services.k3s.after = [ "innernet-server-insane.service" ]

  services.plex = { enable = true, openFirewall = true }
  environment.state."/keep".directories = [
    "/var/lib/plex",
    "/var/lib/media",
  ]

[eris]
  publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH1j+f+Y4nOQvyLq1B9YiB2LxR/ttmK2TTHVEEFX/3ST"

  virtualisation.libvirtd.enable = true

  environment.state."/keep".directories = [
    "/var/lib/libvirt",
  ]

  profiles = [
    "hardware/usbcore",
    "hardware/x570",
    "profiles/default_fs",
    "profiles/desktop",
    "profiles/hidpi",
    "profiles/home-manager",
    "profiles/interception-tools",
    "profiles/pcscd",
    "profiles/state",
    "profiles/tailscale",
  ]

  age.secrets.spotnix = { file = "secrets/spotnix.age", owner = "1337" }
  age.secrets.spotifyd = { file = "secrets/spotifyd.age", owner = "1337" }
  age.secrets.wifi-networks.file = "secrets/wifi-networks.age"
  age.secrets.wg-home.file = "secrets/eris/wg-home.age"
  age.secrets.wg-net.file = "secrets/eris/wg-net.age"

  services.innernet.client.insane.enable = true
  services.innernet.client.insane.settings.interface = { address = "192.168.104.65/22", privateKeyFile = "/run/secrets/wg-home" }
  services.innernet.client.insane.settings.server = { publicKey = "Ca4OCVKasunoIVyh3vbp/HyLnrPWp7AOwEuV14PS1QY=", externalEndpoint = "65.108.2.146:51820", internalEndpoint = "192.168.104.1:51820" }

  users.groups.john.gid = 1337
  users.users.john.uid = 1337
  users.users.john.shell = "fish"
  users.users.john.hashedPassword = "$6$RG3QgdVr6A5s524$FRVNXOYWYCNXf6cH/gV4u7g6sffffznBnbXZGHysuWVHGYPpeLfuDuXEJHK.KUrkVCfPXFTTsCLJaj2Q6ATkC1"

  userConfiguration.john.email = "john@insane.se"
  userConfiguration.john.fullName = "John Axel Eriksson"
  userConfiguration.john.githubUser = "johnae"
  userConfiguration.john.gitlabUser = "johnae"
  userConfiguration.john.profiles = [
    "alacritty",
    "bat",
    "chromium",
    "dconf",
    "emacs",
    "firefox",
    "fish",
    "git",
    "i3status-desktop",
    "kanshi",
    "mako",
    "obs",
    "pueue",
    "qutebrowser",
    "rbw",
    "rofi",
    "spotifyd",
    "spotnix",
    "ssh",
    "starship",
    "sway",
    "theme",
    "tmux",
    "wlsunset",
  ]

[triton]
  publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAID8Yt1yqz+9QumTqWxGwuCZ3uLxRY3koQmFILZ9JHrQP" ## temporary, fixme
  profiles = [
    "hardware/usbcore",
    "hardware/yoga-slim-7-amd",
    "profiles/bluez_autoswitch",
    "profiles/default_fs",
    "profiles/home-manager",
    "profiles/interception-tools",
    "profiles/laptop",
    "profiles/pcscd",
    "profiles/state",
    "profiles/tailscale",
  ]

  age.secrets.spotnix = { file = "secrets/spotnix.age", owner = "1337" }
  age.secrets.spotifyd = { file = "secrets/spotifyd.age", owner = "1337" }
  age.secrets.wifi-networks.file = "secrets/wifi-networks.age"
  age.secrets.wg-home.file = "secrets/triton/wg-home.age"
  age.secrets.wg-net.file = "secrets/triton/wg-net.age"

  services.innernet.client.insane.enable = true
  services.innernet.client.insane.settings.interface = { address = "192.168.104.69/22", privateKeyFile = "/run/secrets/wg-home" }
  services.innernet.client.insane.settings.server = { publicKey = "Ca4OCVKasunoIVyh3vbp/HyLnrPWp7AOwEuV14PS1QY=", externalEndpoint = "65.108.2.146:51820", internalEndpoint = "192.168.104.1:51820" }

  users.groups.john.gid = 1337
  users.users.john.uid = 1337
  users.users.john.shell = "fish"
  users.users.john.hashedPassword = "$6$pUcetTdGMZMdzwx$ySPiZXgZUkIGO3jaEXIIEIh6ks8rea9uE5B08SHku2aJUolHeYKrMvhyFvNYcpvYQ/jf7kgOXL8dL0Yn.IuNS."

  userConfiguration.john.email = "john@insane.se"
  userConfiguration.john.fullName = "John Axel Eriksson"
  userConfiguration.john.githubUser = "johnae"
  userConfiguration.john.gitlabUser = "johnae"
  userConfiguration.john.profiles = [
    "alacritty",
    "bat",
    "chromium",
    "dconf",
    "emacs",
    "firefox",
    "fish",
    "git",
    "i3status-laptop",
    "kanshi",
    "mako",
    "obs",
    "pueue",
    "qutebrowser",
    "rbw",
    "rofi",
    "spotifyd",
    "spotnix",
    "ssh",
    "starship",
    "sway",
    "theme",
    "tmux",
    "wlsunset",
  ]