[hyperion]
publicKey = "xxxxx"
imports = [
  "hardware/nuc",
  "profiles/default_fs",
  "profiles/hidpi",
  "profiles/server",
  "profiles/autoupgrade",
  "profiles/state",
  "profiles/secrets",
  "profiles/uuid_disk_crypt",
]
[hyperion.users.users.john]
uid = 1337
hashedPassword = '$6$Juk1xlDWz45N5dGc$W.BxolEvo.yWR3DgqzErIdXYYCXq4TjauGN8iA/kdlpaJiPw1lvdecydfF37yfnmTFU.vtnXUVVw3QOgwcJE.0'
[hyperion.users.groups.john]
gid = 1337
[hyperion.networking]
defaultGateway = "192.168.240.1"
wireless.iwd.enable = true
[hyperion.services.write-iwd-secrets]
enable = true
[hyperion.age.secrets.wifi-networks]
file = "secrets/wifi-networks.age"
[[hyperion.networking.interfaces.eth0.ipv4.addresses]]
address = "192.168.240.141"
prefixLength = 24
[[hyperion.networking.interfaces.wlan0.ipv4.addresses]]
address = "192.168.240.151"
prefixLength = 24

[titan]
publicKey = "xxxxx"
imports = [
  "hardware/nuc",
  "profiles/default_fs",
  "profiles/hidpi",
  "profiles/server",
  "profiles/autoupgrade",
  "profiles/state",
  "profiles/secrets",
  "profiles/uuid_disk_crypt",
]
[titan.users.users.john]
uid = 1337
hashedPassword = '$6$6yT8x5V.3tTyRN2g$idNICkxytVFU6SR9DaafbU9W6.0qVdjyKMDzJCRWC/lwgjctxh4nFDCH2XHrEtb75WRsMFDGLJei0E3WiRqGz.'
[titan.users.groups.john]
gid = 1337
[titan.networking]
defaultGateway = "192.168.240.1"
wireless.iwd.enable = true
[titan.age.secrets.wifi-networks]
file = "secrets/wifi-networks.age"
[titan.services.write-iwd-secrets]
enable = true
[[titan.networking.interfaces.eth0.ipv4.addresses]]
address = "192.168.240.142"
prefixLength = 24
[[titan.networking.interfaces.wlan0.ipv4.addresses]]
address = "192.168.240.152"
prefixLength = 24

[rhea]
publicKey = "xxxxx"
imports = [
  "hardware/macmini",
  "profiles/default_fs",
  "profiles/hidpi",
  "profiles/autoupgrade",
  "profiles/server",
  "profiles/state",
  "profiles/secrets",
  "profiles/uuid_disk_crypt",
]
[rhea.users.users.john]
uid = 1337
hashedPassword = '$6$NH36UuVGJCVzhfL$K/73aYEiyB8xYrj03A2stxXB4cFV2bPHe6WQzwWd8tyLNIZNszueAlG8jYENo5GfTuB3Zc0GITYQnqLvHNsvA0'
[rhea.users.groups.john]
gid = 1337
[rhea.services.write-iwd-secrets]
enable = true
[rhea.age.secrets.wifi-networks]
file = "secrets/wifi-networks.age"
[rhea.networking]
defaultGateway = "192.168.240.1"
wireless.iwd.enable = true
[[rhea.networking.interfaces.eth0.ipv4.addresses]]
address = "192.168.240.143"
prefixLength = 24
[[rhea.networking.interfaces.wlan0.ipv4.addresses]]
address = "192.168.240.153"
prefixLength = 24

[eris]
publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH1j+f+Y4nOQvyLq1B9YiB2LxR/ttmK2TTHVEEFX/3ST"
imports = [
  "hardware/x570",
  "profiles/default_fs",
  "profiles/desktop",
  "profiles/pcscd",
  "profiles/hidpi",
  "profiles/interception-tools",
  "profiles/secrets",
  "profiles/state",
  "profiles/tailscale",
  "profiles/yubikey",
]
[eris.age.secrets.spotnix]
file = "secrets/spotnix.age"
owner = "1337"
[eris.age.secrets.spotifyd]
file = "secrets/spotifyd.age"
owner = "1337"
[eris.age.secrets.wifi-networks]
file = "secrets/wifi-networks.age"
[eris.users.users.john]
uid = 1337
hashedPassword = '$6$RG3QgdVr6A5s524$FRVNXOYWYCNXf6cH/gV4u7g6sffffznBnbXZGHysuWVHGYPpeLfuDuXEJHK.KUrkVCfPXFTTsCLJaj2Q6ATkC1'
[eris.users.groups.john]
gid = 1337
[eris.users.john]
email = "john@insane.se"
fullName = "John Axel Eriksson"
githubUser = "johnae"
gitlabUser = "johnae"
profiles = [
  "alacritty",
  "bat",
  "chromium",
  "emacs",
  "firefox",
  "fish",
  "git",
  "i3status-desktop",
  "kanshi",
  "mako",
  "obs",
  "qutebrowser",
  "rbw",
  "rofi",
  "spotifyd",
  "spotnix",
  "ssh",
  "starship",
  "sway",
  "theme",
  "tmux",
  "wlsunset",
]

[io]
publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIE5WClmubgehZKXvGwuLH621Nd5IMIxh8HWZf0lUW47M"
imports = [
  "hardware/xps9300",
  "profiles/default_fs",
  "profiles/hidpi",
  "profiles/interception-tools",
  "profiles/laptop",
  "profiles/pcscd",
  "profiles/secrets",
  "profiles/state",
  "profiles/tailscale",
  "profiles/yubikey",
]
[io.age.secrets.spotnix]
file = "secrets/spotnix.age"
owner = "1337"
[io.age.secrets.spotifyd]
file = "secrets/spotifyd.age"
owner = "1337"
[io.age.secrets.wifi-networks]
file = "secrets/wifi-networks.age"
[io.users.users.john]
uid = 1337
hashedPassword = '$6$mJA6xE6ZcfY9rn1$ym/OZ02gGK6APaoa9qTjhzWkyxokJ8ldqUt/x3nmGaAsCkMKWmWcB0guYO2ydtifN3EVGygcSZXrB4tLVMZpz0'
[io.users.groups.john]
gid = 1337
[io.users.john]
email = "john@insane.se"
fullName = "John Axel Eriksson"
githubUser = "johnae"
gitlabUser = "johnae"
profiles = [
  "alacritty",
  "bat",
  "chromium",
  "emacs",
  "firefox",
  "fish",
  "git",
  "i3status-laptop",
  "kanshi",
  "mako",
  "obs",
  "qutebrowser",
  "rbw",
  "rofi",
  "spotifyd",
  "spotnix",
  "ssh",
  "starship",
  "sway",
  "theme",
  "tmux",
  "wlsunset",
]

[carbon]
publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOsLzBkJNFdXKdXcAaMQ4VCzJ/9kBiP2xkwnMXCSmR2Z"
imports = [
  "hardware/x1-carbon",
  "profiles/default_fs",
  "profiles/interception-tools",
  "profiles/laptop",
  "profiles/pcscd",
  "profiles/secrets",
  "profiles/state",
  "profiles/tailscale",
  "profiles/yubikey",
]
[carbon.age.secrets.spotnix]
file = "secrets/spotnix.age"
owner = "1337"
[carbon.age.secrets.spotifyd]
file = "secrets/spotifyd.age"
owner = "1337"
[carbon.age.secrets.wifi-networks]
file = "secrets/wifi-networks.age"
[carbon.users.users.john]
uid = 1337
hashedPassword = '$6$7D0/IXD6AM$9QRdv2TlnbtCFgwOMUU5NDRakIXLvt1xx3s0AtRaUyqnsg8n8jEPOSHfGjiX41dveTKP8a.2qjF731Ie0VNSz0'
[carbon.users.groups.john]
gid = 1337
[carbon.users.john]
email = "john@insane.se"
fullName = "John Axel Eriksson"
githubUser = "johnae"
gitlabUser = "johnae"
profiles = [
  "alacritty",
  "bat",
  "chromium",
  "emacs",
  "firefox",
  "fish",
  "git",
  "i3status-laptop",
  "kanshi",
  "mako",
  "obs",
  "qutebrowser",
  "rbw",
  "rofi",
  "spotifyd",
  "spotnix",
  "ssh",
  "starship",
  "sway",
  "theme",
  "tmux",
  "wlsunset",
]