[hyperion]
  public_key = "xxxxx"
  imports = [
    "hardware/nuc",
    "profiles/default_fs",
    "profiles/hidpi",
#    "profiles/k3s-node",
    "profiles/server",
    "profiles/state",
    "profiles/uuid_disk_crypt",
  ]
[hyperion.users.users.john]
  uid = 1337
  hashedPassword = '$6$Juk1xlDWz45N5dGc$W.BxolEvo.yWR3DgqzErIdXYYCXq4TjauGN8iA/kdlpaJiPw1lvdecydfF37yfnmTFU.vtnXUVVw3QOgwcJE.0'
[hyperion.users.groups.john]
  gid = 1337

[titan]
  public_key = "xxxxx"
  imports = [
    "hardware/nuc",
    "profiles/default_fs",
    "profiles/hidpi",
#    "profiles/k3s-node",
    "profiles/server",
    "profiles/state",
    "profiles/uuid_disk_crypt",
  ]
[titan.users.users.john]
  uid = 1337
  hashedPassword = '$6$6yT8x5V.3tTyRN2g$idNICkxytVFU6SR9DaafbU9W6.0qVdjyKMDzJCRWC/lwgjctxh4nFDCH2XHrEtb75WRsMFDGLJei0E3WiRqGz.'
[titan.users.groups.john]
  gid = 1337

[rhea]
  public_key = "xxxxx"
  imports = [
    "hardware/macmini",
    "profiles/default_fs",
    "profiles/hidpi",
#    "profiles/k3s-server",
    "profiles/server",
    "profiles/state",
    "profiles/uuid_disk_crypt",
  ]
[rhea.users.users.john]
  uid = 1337
  hashedPassword = '$6$NH36UuVGJCVzhfL$K/73aYEiyB8xYrj03A2stxXB4cFV2bPHe6WQzwWd8tyLNIZNszueAlG8jYENo5GfTuB3Zc0GITYQnqLvHNsvA0'
[rhea.users.groups.john]
  gid = 1337

[eris]
  public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIO1+nbifIWVNJJu/5zDga9cX1qVVMYyg0XZYyRos4Ue"
  imports = [
    "hardware/x570",
    "profiles/default_fs",
    "profiles/desktop",
    "profiles/hidpi",
    "profiles/interception-tools",
    "profiles/secrets",
    "profiles/state",
  ]
[eris.age.secrets.spotnix]
  file = "secrets/spotnix.age"
  owner = "1337"
[eris.age.secrets.spotifyd]
  file = "secrets/spotifyd.age"
  owner = "1337"
[eris.age.secrets.wifi-networks]
  file = "secrets/wifi-networks.age"
[eris.users.users.john]
  uid = 1337
  hashedPassword = '$6$187X59CnfYOygbdN$HopIW8qNY7hyiZA1kjiLDWHO8/brCNHxAajW1.lPaxTW8w6PVLo6RekBFlKKKsQFnBim6InOpwR3WzyVV0xj60'
[eris.users.groups.john]
  gid = 1337
[eris.users.john]
  email = "john@insane.se"
  fullName = "John Axel Eriksson"
  githubUser = "johnae"
  gitlabUser = "johnae"
  profiles = [
    "alacritty",
    "bat",
    "chromium",
    "emacs",
    "firefox",
    "fish",
    "git",
    "i3status",
    "kanshi",
    "mako",
    "obs",
    "pulseaudio",
    "qutebrowser",
    "rbw",
    "rofi",
    "spotifyd",
    "spotnix",
    "ssh",
    "starship",
    "sway",
    "theme",
    "tmux",
    "wlsunset",
  ]

[io]
  public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIE5WClmubgehZKXvGwuLH621Nd5IMIxh8HWZf0lUW47M"
  imports = [
    "hardware/xps9300",
    "profiles/default_fs",
    "profiles/hidpi",
    "profiles/interception-tools",
    "profiles/laptop",
    "profiles/pcscd",
    "profiles/secrets",
    "profiles/state",
    "profiles/yubikey",
  ]
[io.age.secrets.spotnix]
  file = "secrets/spotnix.age"
  owner = "1337"
[io.age.secrets.spotifyd]
  file = "secrets/spotifyd.age"
  owner = "1337"
[io.age.secrets.wifi-networks]
  file = "secrets/wifi-networks.age"
[io.users.users.john]
  uid = 1337
  hashedPassword = '$6$mJA6xE6ZcfY9rn1$ym/OZ02gGK6APaoa9qTjhzWkyxokJ8ldqUt/x3nmGaAsCkMKWmWcB0guYO2ydtifN3EVGygcSZXrB4tLVMZpz0'
[io.users.groups.john]
  gid = 1337
[io.users.john]
  email = "john@insane.se"
  fullName = "John Axel Eriksson"
  githubUser = "johnae"
  gitlabUser = "johnae"
  profiles = [
    "alacritty",
    "bat",
    "chromium",
    "emacs",
    "firefox",
    "fish",
    "git",
    "i3status",
    "kanshi",
    "mako",
    "obs",
    "pulseaudio",
    "qutebrowser",
    "rbw",
    "rofi",
    "spotifyd",
    "spotnix",
    "ssh",
    "starship",
    "sway",
    "theme",
    "tmux",
    "wlsunset",
  ]

[carbon]
  public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOsLzBkJNFdXKdXcAaMQ4VCzJ/9kBiP2xkwnMXCSmR2Z"
  imports = [
    "hardware/x1-carbon",
    "profiles/default_fs",
    "profiles/interception-tools",
    "profiles/laptop",
    "profiles/pcscd",
    "profiles/secrets",
    "profiles/state",
    "profiles/tailscale",
    "profiles/yubikey",
  ]
[carbon.age.secrets.spotnix]
  file = "secrets/spotnix.age"
  owner = "1337"
[carbon.age.secrets.spotifyd]
  file = "secrets/spotifyd.age"
  owner = "1337"
[carbon.age.secrets.wifi-networks]
  file = "secrets/wifi-networks.age"
[carbon.users.users.john]
  uid = 1337
  hashedPassword = '$6$7D0/IXD6AM$9QRdv2TlnbtCFgwOMUU5NDRakIXLvt1xx3s0AtRaUyqnsg8n8jEPOSHfGjiX41dveTKP8a.2qjF731Ie0VNSz0'
[carbon.users.groups.john]
  gid = 1337
[carbon.users.john]
  email = "john@insane.se"
  fullName = "John Axel Eriksson"
  githubUser = "johnae"
  gitlabUser = "johnae"
  profiles = [
    "alacritty",
    "bat",
    "chromium",
    "emacs",
    "firefox",
    "fish",
    "git",
    "i3status",
    "kanshi",
    "mako",
    "obs",
    "pulseaudio",
    "qutebrowser",
    "rbw",
    "rofi",
    "spotifyd",
    "spotnix",
    "ssh",
    "starship",
    "sway",
    "theme",
    "tmux",
    "wlsunset",
  ]