[hyperion]
  publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMoTdeqiDgd0BjhgDu96R+fD1s3PNmAB0UgHFet+IPhS"

  profiles = [
    "hardware/nuc",
    "profiles/default_fs",
    "profiles/hidpi",
    "profiles/k3s",
    "profiles/server",
    "profiles/state",
    "profiles/uuid_disk_crypt",
  ]

  users.groups.john.gid = 1337
  users.users.john.uid = 1337
  users.users.john.hashedPassword = "$6$Juk1xlDWz45N5dGc$W.BxolEvo.yWR3DgqzErIdXYYCXq4TjauGN8iA/kdlpaJiPw1lvdecydfF37yfnmTFU.vtnXUVVw3QOgwcJE.0"
  users.users.john.openssh.authorizedKeys.keys = [
    "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCyjMuNOFrZBi7CrTyu71X+aRKyzvTmwCEkomhB0dEhENiQ3PTGVVWBi1Ta9E9fqbqTW0HmNL5pjGV+BU8j9mSi6VxLzJVUweuwQuvqgAi0chAJVPe0FSzft9M7mJoEq5DajuSiL7dSjXpqNFDk/WCDUBE9pELw+TXvxyQpFO9KZwiYCCNRQY6dCjrPJxGwG+JzX6l900GFrgOXQ3KYGk8vzep2Qp+iuH1yTgEowUICkb/9CmZhHQXSvq2gAtoOsGTd9DTyLOeVwZFJkTL/QW0AJNRszckGtYdA3ftCUNsTLSP/VqYN9EjxcMHQe4PGjkK7VLb59DQJFyRQqvPXiUyxNloHcu/sDuiKHIk/0qDLHlVn2xc5zkvzSqoQxoXx+P4dDbje1KHLY8E96gLe2Csu0ti+qsM5KEvgYgwWwm2g3IBlaWwgAtC0UWEzIuBPrAgPd5vi+V50ITIaIk6KIV7JPOubLUXaLS5KW77pWyi9PqAGOXj+DgTWoB3QeeZh7CGhPL5fAecYN7Pw734cULZpnw10Bi/jp4Nlq1AJDk8BwLUJbzZ8aexwMf78syjkHJBBrTOAxADUE02nWBQd0w4K5tl/a3UnBYWGyX8TD44046Swl/RY/69PxFvYcVRuF4eARI6OWojs1uhoR9WkO8eGgEsuxxECwNpWxR5gjKcgJQ==",
    "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIJY3QSBIiRKN8/B3nHgCBDpauQBOftphOeuF2TaBHGQSAAAABHNzaDo=",
    "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIAwJWtQ5ZU9U0szWzJ+/GH2uvXZ15u9lL0RdcHdsXM0VAAAABHNzaDo=",
  ]

  networking.defaultGateway = "192.168.240.1"
  networking.interfaces.eth0.ipv4.addresses = [
    { address = "192.168.240.141", prefixLength = 24 }
  ]

  services.innernet.server.insane.enable = true
  services.innernet.server.insane.settings.cidr = "192.168.104.0/22"
  services.innernet.server.insane.settings.listenPort = 51820
  services.innernet.server.insane.settings.privateKeyFile = "/run/secrets/wg-home"
  services.innernet.server.insane.settings.publicKey = "zra1G18xLfq29/4DLBYKDr0BfhILaIHyhd09Bwl9Tj8="
  services.innernet.server.insane.settings.externalEndpoint = "217.210.236.9:51820"
  services.innernet.server.insane.settings.cidrs.home = { cidr = "192.168.104.64/26", parent = "insane" }
  services.innernet.server.insane.settings.peers.eris = { ip = "192.168.104.65", cidr = "home", publicKey = "Oya0T0tzAV25A7/Qp3tqKP+2KgGjA/OVuUmKzsTFpRo=", isAdmin = true }
  services.innernet.server.insane.settings.peers.carbon = { ip = "192.168.104.66", cidr = "home", publicKey = "WiNYoRIrLjyeuRkD4uhKJ0qKS32up4wYJSviR5q8QnY=", isAdmin = true }

  system.autoUpgrade = { enable = true, flake = "github:johnae/world", allowReboot = true, dates = "*:0/15", randomizedDelaySec = "5min" }
  age.secrets.k3s-token.file = "secrets/k3s/token.age"
  age.secrets.wg-home.file = "secrets/hyperion/wg-home.age"

  services.k3s = { role = "server", tokenFile = "/run/secrets/k3s-token" }


[titan]
  publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOteEiVr+H3Q1tSw1bGQfjbVWuPggc/+w1vVXSFde0Rt"
  wgPublicKey = "vNfSS1HsbnRqV6V/RfG0Aq1IoNQPS+IP2O162UlVQQA="

  profiles = [
    "hardware/nuc",
    "profiles/default_fs",
    "profiles/hidpi",
    "profiles/k3s",
    "profiles/server",
    "profiles/state",
    "profiles/unifi_controller",
    "profiles/uuid_disk_crypt",
  ]

  users.groups.john.gid = 1337
  users.users.john.uid = 1337
  users.users.john.hashedPassword = "$6$6yT8x5V.3tTyRN2g$idNICkxytVFU6SR9DaafbU9W6.0qVdjyKMDzJCRWC/lwgjctxh4nFDCH2XHrEtb75WRsMFDGLJei0E3WiRqGz."
  users.users.john.openssh.authorizedKeys.keys = [
    "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCyjMuNOFrZBi7CrTyu71X+aRKyzvTmwCEkomhB0dEhENiQ3PTGVVWBi1Ta9E9fqbqTW0HmNL5pjGV+BU8j9mSi6VxLzJVUweuwQuvqgAi0chAJVPe0FSzft9M7mJoEq5DajuSiL7dSjXpqNFDk/WCDUBE9pELw+TXvxyQpFO9KZwiYCCNRQY6dCjrPJxGwG+JzX6l900GFrgOXQ3KYGk8vzep2Qp+iuH1yTgEowUICkb/9CmZhHQXSvq2gAtoOsGTd9DTyLOeVwZFJkTL/QW0AJNRszckGtYdA3ftCUNsTLSP/VqYN9EjxcMHQe4PGjkK7VLb59DQJFyRQqvPXiUyxNloHcu/sDuiKHIk/0qDLHlVn2xc5zkvzSqoQxoXx+P4dDbje1KHLY8E96gLe2Csu0ti+qsM5KEvgYgwWwm2g3IBlaWwgAtC0UWEzIuBPrAgPd5vi+V50ITIaIk6KIV7JPOubLUXaLS5KW77pWyi9PqAGOXj+DgTWoB3QeeZh7CGhPL5fAecYN7Pw734cULZpnw10Bi/jp4Nlq1AJDk8BwLUJbzZ8aexwMf78syjkHJBBrTOAxADUE02nWBQd0w4K5tl/a3UnBYWGyX8TD44046Swl/RY/69PxFvYcVRuF4eARI6OWojs1uhoR9WkO8eGgEsuxxECwNpWxR5gjKcgJQ==",
    "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIJY3QSBIiRKN8/B3nHgCBDpauQBOftphOeuF2TaBHGQSAAAABHNzaDo=",
    "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIAwJWtQ5ZU9U0szWzJ+/GH2uvXZ15u9lL0RdcHdsXM0VAAAABHNzaDo=",
  ]

  networking.defaultGateway = "192.168.240.1"
  networking.interfaces.eth0.ipv4.addresses = [
    { address = "192.168.240.142", prefixLength = 24 }
  ]

  system.autoUpgrade = { enable = true, flake = "github:johnae/world", allowReboot = true, dates = "*:0/15", randomizedDelaySec = "5min" }

  age.secrets.k3s-token.file = "secrets/k3s/token.age"
  age.secrets.ubnt-api-user-password.file = "secrets/ubnt-api-user-password.age"
  age.secrets.wg-home.file = "secrets/titan/wg-home.age"

  services.k3s = { role = "agent", tokenFile = "/run/secrets/k3s-token", serverAddr = "https://192.168.240.141:6443" }


[rhea]
  # publicKey = "?"
  profiles = [
    "hardware/macmini",
    "profiles/default_fs",
    "profiles/hidpi",
    "profiles/server",
    "profiles/state",
    "profiles/uuid_disk_crypt",
  ]
  users.groups.john.gid = 1337
  users.users.john.uid = 1337
  users.users.john.hashedPassword = "$6$NH36UuVGJCVzhfL$K/73aYEiyB8xYrj03A2stxXB4cFV2bPHe6WQzwWd8tyLNIZNszueAlG8jYENo5GfTuB3Zc0GITYQnqLvHNsvA0"

  networking.defaultGateway = "192.168.240.1"
  networking.interfaces.eth0.ipv4.addresses = [
    { address = "192.168.240.143", prefixLength = 24 }
  ]

  system.autoUpgrade = { enable = true, flake = "github:johnae/world", allowReboot = true, dates = "*:0/15", randomizedDelaySec = "5min" }

  age.secrets.k3s-token.file = "secrets/k3s/token.age"

  services.k3s = { role = "agent", tokenFile = "/run/secrets/k3s-token", serverAddr = "https://192.168.240.141:6443" }

[eris]
  publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH1j+f+Y4nOQvyLq1B9YiB2LxR/ttmK2TTHVEEFX/3ST"
  wgPublicKey = "Oya0T0tzAV25A7/Qp3tqKP+2KgGjA/OVuUmKzsTFpRo="

  virtualisation.libvirtd.enable = true

  environment.state."/keep".directories = [
    "/var/lib/libvirt",
  ]

  profiles = [
    "hardware/usbcore",
    "hardware/x570",
    "profiles/default_fs",
    "profiles/desktop",
    "profiles/hidpi",
    "profiles/home-manager",
    "profiles/interception-tools",
    "profiles/pcscd",
    "profiles/state",
    "profiles/tailscale",
  ]

  age.secrets.spotnix = { file = "secrets/spotnix.age", owner = "1337" }
  age.secrets.spotifyd = { file = "secrets/spotifyd.age", owner = "1337" }
  age.secrets.wifi-networks.file = "secrets/wifi-networks.age"
  age.secrets.wg-home.file = "secrets/eris/wg-home.age"

  services.innernet.client.insane.enable = true
  services.innernet.client.insane.settings.interface = { address = "192.168.104.65/26", privateKeyFile = "/run/secrets/wg-home" }
  services.innernet.client.insane.settings.server = { publicKey = "zra1G18xLfq29/4DLBYKDr0BfhILaIHyhd09Bwl9Tj8=", externalEndpoint = "217.210.236.9:51820", internalEndpoint = "192.168.104.1:51820" }

  users.groups.john.gid = 1337
  users.users.john.uid = 1337
  users.users.john.shell = "fish"
  users.users.john.hashedPassword = "$6$RG3QgdVr6A5s524$FRVNXOYWYCNXf6cH/gV4u7g6sffffznBnbXZGHysuWVHGYPpeLfuDuXEJHK.KUrkVCfPXFTTsCLJaj2Q6ATkC1"

  userConfiguration.john.email = "john@insane.se"
  userConfiguration.john.fullName = "John Axel Eriksson"
  userConfiguration.john.githubUser = "johnae"
  userConfiguration.john.gitlabUser = "johnae"
  userConfiguration.john.profiles = [
    "alacritty",
    "bat",
    "chromium",
    "dconf",
    "emacs",
    "firefox",
    "fish",
    "git",
    "i3status-desktop",
    "kanshi",
    "mako",
    "obs",
    "pueue",
    "qutebrowser",
    "rbw",
    "rofi",
    "spotifyd",
    "spotnix",
    "ssh",
    "starship",
    "sway",
    "theme",
    "tmux",
    "wlsunset",
  ]

[io]
  publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIE5WClmubgehZKXvGwuLH621Nd5IMIxh8HWZf0lUW47M"
  profiles = [
    "hardware/usbcore",
    "hardware/xps9300",
    "profiles/bluez_autoswitch",
    "profiles/default_fs",
    "profiles/hidpi",
    "profiles/home-manager",
    "profiles/interception-tools",
    "profiles/laptop",
    "profiles/pcscd",
    "profiles/state",
    "profiles/tailscale",
  ]

  age.secrets.spotnix = { file = "secrets/spotnix.age", owner = "1337" }
  age.secrets.spotifyd = { file = "secrets/spotifyd.age", owner = "1337" }
  age.secrets.wifi-networks.file = "secrets/wifi-networks.age"

  users.groups.john.gid = 1337
  users.users.john.uid = 1337
  users.users.john.shell = "fish"
  users.users.john.hashedPassword = "$6$mJA6xE6ZcfY9rn1$ym/OZ02gGK6APaoa9qTjhzWkyxokJ8ldqUt/x3nmGaAsCkMKWmWcB0guYO2ydtifN3EVGygcSZXrB4tLVMZpz0"

  userConfiguration.john.email = "john@insane.se"
  userConfiguration.john.fullName = "John Axel Eriksson"
  userConfiguration.john.githubUser = "johnae"
  userConfiguration.john.gitlabUser = "johnae"
  userConfiguration.john.profiles = [
    "alacritty",
    "bat",
    "chromium",
    "dconf",
    "emacs",
    "firefox",
    "fish",
    "git",
    "i3status-laptop",
    "kanshi",
    "mako",
    "obs",
    "pueue",
    "qutebrowser",
    "rbw",
    "rofi",
    "spotifyd",
    "spotnix",
    "ssh",
    "starship",
    "sway",
    "theme",
    "tmux",
    "wlsunset",
  ]

[carbon]
  publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOsLzBkJNFdXKdXcAaMQ4VCzJ/9kBiP2xkwnMXCSmR2Z"
  wgPublicKey = "WiNYoRIrLjyeuRkD4uhKJ0qKS32up4wYJSviR5q8QnY="
  profiles = [
    "hardware/usbcore",
    "hardware/x1-carbon",
    "profiles/bluez_autoswitch",
    "profiles/default_fs",
    "profiles/home-manager",
    "profiles/interception-tools",
    "profiles/laptop",
    "profiles/pcscd",
    "profiles/state",
    "profiles/tailscale",
  ]

  age.secrets.spotnix = { file = "secrets/spotnix.age", owner = "1337" }
  age.secrets.spotifyd = { file = "secrets/spotifyd.age", owner = "1337" }
  age.secrets.wifi-networks.file = "secrets/wifi-networks.age"
  age.secrets.wg-home.file = "secrets/carbon/wg-home.age"

  services.innernet.client.insane.enable = true
  services.innernet.client.insane.settings.interface = { address = "192.168.104.66/26", privateKeyFile = "/run/secrets/wg-home" }
  services.innernet.client.insane.settings.server = { publicKey = "zra1G18xLfq29/4DLBYKDr0BfhILaIHyhd09Bwl9Tj8=", externalEndpoint = "217.210.236.9:51820", internalEndpoint = "192.168.104.1:51820" }

  users.groups.john.gid = 1337
  users.users.john.uid = 1337
  users.users.john.shell = "fish"
  users.users.john.hashedPassword = "$6$7D0/IXD6AM$9QRdv2TlnbtCFgwOMUU5NDRakIXLvt1xx3s0AtRaUyqnsg8n8jEPOSHfGjiX41dveTKP8a.2qjF731Ie0VNSz0"

  userConfiguration.john.email = "john@insane.se"
  userConfiguration.john.fullName = "John Axel Eriksson"
  userConfiguration.john.githubUser = "johnae"
  userConfiguration.john.gitlabUser = "johnae"
  userConfiguration.john.profiles = [
    "alacritty",
    "bat",
    "chromium",
    "dconf",
    "emacs",
    "firefox",
    "fish",
    "git",
    "i3status-laptop",
    "kanshi",
    "mako",
    "obs",
    "pueue",
    "qutebrowser",
    "rbw",
    "rofi",
    "spotifyd",
    "spotnix",
    "ssh",
    "starship",
    "sway",
    "theme",
    "tmux",
    "wlsunset",
  ]