source_env ../../
export HCLOUD_TOKEN="$(rbw get hetzner -- default-project-token)"
export TAILSCALE_TAILNET="9000.dev"
export TAILSCALE_OAUTH_CLIENT_ID="$(rbw get hetzner --full tailscale-hcloud-tf-oauth-key | grep client_id: | awk -F': ' '{print $2}')"
export TAILSCALE_OAUTH_CLIENT_SECRET="$(rbw get hetzner tailscale-hcloud-tf-oauth-key)"
