system = "x86_64-linux"

[config]
publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJnEDS9ziXY31y2uyMBzSFSjyY5KqYnJgR4Tkb8nx/Dn"
profiles = [
  "profiles/hardware/apu",
  "profiles/default_fs",
  "profiles/hidpi",
  "profiles/server",
  "profiles/state",
  "profiles/tailscale",
  "profiles/uuid_disk_crypt", ## remove this instead of overriding?
  "profiles/zram",
]
disk.dosLabel = true

[config.system.autoUpgrade]
enable = true
flake = "github:johnae/world"
allowReboot = true
dates = "*:0/15"
randomizedDelaySec = "5min"

[config.users.groups.john]
gid = 1337

[config.users.users.john]
uid = 1337
hashedPassword = "$6$e449W9mBaSt5B.pK$8Qrx1qigl5V8fhDrF/ijWvmWJT55hr5FFu8w2X0jEjmN0ropV8o82UQ2/Hu83BDyXtDQlJIY8sdKExJrsj0qG."
openssh.authorizedKeys.keys = [
  "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCyjMuNOFrZBi7CrTyu71X+aRKyzvTmwCEkomhB0dEhENiQ3PTGVVWBi1Ta9E9fqbqTW0HmNL5pjGV+BU8j9mSi6VxLzJVUweuwQuvqgAi0chAJVPe0FSzft9M7mJoEq5DajuSiL7dSjXpqNFDk/WCDUBE9pELw+TXvxyQpFO9KZwiYCCNRQY6dCjrPJxGwG+JzX6l900GFrgOXQ3KYGk8vzep2Qp+iuH1yTgEowUICkb/9CmZhHQXSvq2gAtoOsGTd9DTyLOeVwZFJkTL/QW0AJNRszckGtYdA3ftCUNsTLSP/VqYN9EjxcMHQe4PGjkK7VLb59DQJFyRQqvPXiUyxNloHcu/sDuiKHIk/0qDLHlVn2xc5zkvzSqoQxoXx+P4dDbje1KHLY8E96gLe2Csu0ti+qsM5KEvgYgwWwm2g3IBlaWwgAtC0UWEzIuBPrAgPd5vi+V50ITIaIk6KIV7JPOubLUXaLS5KW77pWyi9PqAGOXj+DgTWoB3QeeZh7CGhPL5fAecYN7Pw734cULZpnw10Bi/jp4Nlq1AJDk8BwLUJbzZ8aexwMf78syjkHJBBrTOAxADUE02nWBQd0w4K5tl/a3UnBYWGyX8TD44046Swl/RY/69PxFvYcVRuF4eARI6OWojs1uhoR9WkO8eGgEsuxxECwNpWxR5gjKcgJQ==",
  "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIJY3QSBIiRKN8/B3nHgCBDpauQBOftphOeuF2TaBHGQSAAAABHNzaDo=",
  "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIAwJWtQ5ZU9U0szWzJ+/GH2uvXZ15u9lL0RdcHdsXM0VAAAABHNzaDo=",
]

[config.networking.firewall]
allowedTCPPorts = [ 80, 443 ]
trustedInterfaces = [ "insane", "tailscale0" ]

[config.age.secrets]
tailscale-auth.file = "secrets/tailscale-auth.age"

[config.services.tailscale.auth]
enable = true
args.ssh = false
args.accept-routes = false
args.advertise-tags = ["tag:router","tag:home","tag:ssh"]
args.login-server = "https://tailscale.9000.dev"
args.auth-key = "file:/var/run/agenix/tailscale-auth"

[config.services.jae.router]
enable = true
upstreamDnsServers = [
  "2a07:a8c1::",
  "45.90.30.0",
  "2a07:a8c0::",
  "45.90.28.0"
]
externalInterface = "enp1s0"
internalInterface = "enp2s0"
internalInterfaceIP = "192.168.20.1"
dnsMasqExtraConfig = """
  no-resolv
  bogus-priv
  strict-order
  add-cpe-id=a5472c
"""