system = "x86_64-linux"

[config]

publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH1j+f+Y4nOQvyLq1B9YiB2LxR/ttmK2TTHVEEFX/3ST"
syncthingDeviceID = "ZL2OU7Q-IRYWF7H-VNX6A65-RHWQXIF-AK2G22Y-KB43E2U-DAMNCFP-66IWKQX"

profiles = [
  "profiles/hardware/usbcore",
  "profiles/hardware/x570",
  "profiles/default_fs",
  "profiles/desktop",
  "profiles/hidpi",
  "profiles/home-manager",
  "profiles/homedns",
  "profiles/interception-tools",
  "profiles/pcscd",
  "profiles/state",
  "profiles/syncthing",
  "profiles/tailscale",
  "profiles/zram",
]

[config.virtualisation.libvirtd]
enable = true

[config.boot.binfmt]
emulatedSystems = [ "aarch64-linux" ]

[config.environment.state."/keep"]
directories = [
  "/var/lib/libvirt",
]

[config.age.secrets]
spotnix = { file = "secrets/spotnix.age", owner = "1337" }
spotifyd = { file = "secrets/spotifyd.age", owner = "1337" }
wifi-networks.file = "secrets/wifi-networks.age"
wg-home.file = "secrets/eris/wg-home.age"
wg-net.file = "secrets/eris/wg-net.age"
id_ed25519_agenda_updater = { file = "secrets/id_ed25519_agenda_updater.age", owner = "1337" }
id_ed25519_roam_updater = { file = "secrets/id_ed25519_roam_updater.age", owner = "1337" }
id_ed25519_bbph = { file = "secrets/id_ed25519_bbph.age", owner = "1337", path = "/home/john/.ssh/id_ed25519_bbph" }
syncthing-cert = { file = "secrets/eris/syncthing-cert.age", owner = "1337" }
syncthing-key = { file = "secrets/eris/syncthing-key.age", owner = "1337" }

[config.services.syncthing]
enable = true
devices.SM-G998B.id = "PCFNIXF-AR7YX2B-354IJQW-YP25QM7-N53ES5L-HKB337S-I6JZV34-55LQEAR"
user = "john"
group = "users"
openDefaultPorts = true
folders."/home/john/Sync".id = "sync"
folders."/home/john/Sync".devices = [
  "triton",
  "polaris",
  "icarus",
  "titan",
  "hyperion"
]
folders."/home/john/Photos".id = "sm-g998b_7dxn foton"
folders."/home/john/Photos".devices = [
  "triton",
  "polaris",
  "icarus",
  "SM-G998B"
]

cert = "/run/agenix/syncthing-cert"
key = "/run/agenix/syncthing-key"
dataDir = "/home/john/.local/share/syncthing-data"

[config.services.innernet.client.insane]
enable = true

[config.services.innernet.client.insane.settings.interface]
address = "192.168.104.65/22"
privateKeyFile = "/run/agenix/wg-home"

[config.services.innernet.client.insane.settings.server]
publicKey = "Ca4OCVKasunoIVyh3vbp/HyLnrPWp7AOwEuV14PS1QY="
externalEndpoint = "65.108.2.146:51820"
internalEndpoint = "192.168.104.1:51820"

[config.users.groups.john]
gid = 1337

[config.users.users.john]
uid = 1337
shell = "fish"
hashedPassword = "$6$RG3QgdVr6A5s524$FRVNXOYWYCNXf6cH/gV4u7g6sffffznBnbXZGHysuWVHGYPpeLfuDuXEJHK.KUrkVCfPXFTTsCLJaj2Q6ATkC1"

[config.home-manager.users.john]
profiles = [
  "users/profiles/alacritty",
  "users/profiles/bat",
  "users/profiles/chromium",
  "users/profiles/dconf",
  "users/profiles/emacs",
  "users/profiles/firefox",
  "users/profiles/fish",
  "users/profiles/git",
  "users/profiles/i3status-desktop",
  "users/profiles/kanshi",
  "users/profiles/kubie",
  "users/profiles/mako",
  "users/profiles/obs",
  "users/profiles/pueue",
  "users/profiles/qutebrowser",
  "users/profiles/rbw",
  "users/profiles/river",
  "users/profiles/rofi",
  "users/profiles/spotifyd",
  "users/profiles/spotnix",
  "users/profiles/ssh",
  "users/profiles/starship",
  "users/profiles/sway",
  "users/profiles/tmux",
  "users/profiles/waybar",
  "users/profiles/wlsunset",
]

[config.home-manager.users.john.programs.rbw]
settings.device_id = "f3268147-1e9d-46da-b431-11fe011f5dfe"

[config.home-manager.users.john.userinfo]
email = "john@insane.se"
fullName = "John Axel Eriksson"
githubUser = "johnae"
gitlabUser = "johnae"
gitIdMap."~/Development/planhat/" = "john.eriksson@planhat.com"

[config.home-manager.users.john.services.gitAutoSync.repos."~/Development/org-roam"]
repository = "git@github.com:johnae/org-roam"
sshKey = "/run/agenix/id_ed25519_roam_updater"

[config.home-manager.users.john.services.gitAutoSync.repos."~/Development/org-agenda"]
repository = "git@github.com:johnae/org-agenda"
sshKey = "/run/agenix/id_ed25519_agenda_updater"