system = "x86_64-linux"

[config]
publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMfXrbXEQcJ85CGW9/qnm/jS8Vp6GP2yQ2piFF8+OFWR"
syncthingDeviceID = "HBL5ZRB-R2STGW5-LMAYYHX-KOFTP3X-VO4IV6E-PEDKZ3N-WCRR7BY-F5C7AAP"

profiles = [
  "profiles/hardware/b550",
  "profiles/default_fs",
  "profiles/home-manager",
  "profiles/jellyfin",
  "profiles/k3s",
  "profiles/server",
  "profiles/state",
  "profiles/syncthing",
  "profiles/tailscale",
  "profiles/workstation",
  "profiles/uuid_disk_crypt",
  "profiles/zram",
]

[config.programs.mosh]
enable = true

[config.hardware.opengl]
enable = true

[config.btrfs]
disks = [ "/dev/nvme0n1", "/dev/nvme1n1" ]

[config.system.autoUpgrade]
enable = true
flake = "github:johnae/world"
allowReboot = true
dates = "*:0/15"
randomizedDelaySec = "5min"
enableSentinel = true

[config.users.groups.john]
gid = 1337

[config.users.users.john]
uid = 1337
hashedPassword = "$6$cmSsVS0s3nFkd4IE$y4g2KLxUCwQFej/LvrNkF57cdw.VYWPN3x4HQ5XCz34wAiCaBrLO2..OIPSu60/Gxr9uY44PYlimOeHs3Ma5a0"
openssh.authorizedKeys.keys = [
  "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCyjMuNOFrZBi7CrTyu71X+aRKyzvTmwCEkomhB0dEhENiQ3PTGVVWBi1Ta9E9fqbqTW0HmNL5pjGV+BU8j9mSi6VxLzJVUweuwQuvqgAi0chAJVPe0FSzft9M7mJoEq5DajuSiL7dSjXpqNFDk/WCDUBE9pELw+TXvxyQpFO9KZwiYCCNRQY6dCjrPJxGwG+JzX6l900GFrgOXQ3KYGk8vzep2Qp+iuH1yTgEowUICkb/9CmZhHQXSvq2gAtoOsGTd9DTyLOeVwZFJkTL/QW0AJNRszckGtYdA3ftCUNsTLSP/VqYN9EjxcMHQe4PGjkK7VLb59DQJFyRQqvPXiUyxNloHcu/sDuiKHIk/0qDLHlVn2xc5zkvzSqoQxoXx+P4dDbje1KHLY8E96gLe2Csu0ti+qsM5KEvgYgwWwm2g3IBlaWwgAtC0UWEzIuBPrAgPd5vi+V50ITIaIk6KIV7JPOubLUXaLS5KW77pWyi9PqAGOXj+DgTWoB3QeeZh7CGhPL5fAecYN7Pw734cULZpnw10Bi/jp4Nlq1AJDk8BwLUJbzZ8aexwMf78syjkHJBBrTOAxADUE02nWBQd0w4K5tl/a3UnBYWGyX8TD44046Swl/RY/69PxFvYcVRuF4eARI6OWojs1uhoR9WkO8eGgEsuxxECwNpWxR5gjKcgJQ==",
  "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIJY3QSBIiRKN8/B3nHgCBDpauQBOftphOeuF2TaBHGQSAAAABHNzaDo=",
  "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIAwJWtQ5ZU9U0szWzJ+/GH2uvXZ15u9lL0RdcHdsXM0VAAAABHNzaDo=",
]

[config.networking]
defaultGateway = "192.168.20.1"

[config.networking.firewall]
trustedInterfaces = [ "insane" ] ## trust the vpn mesh

[[config.networking.interfaces.eth0.ipv4.addresses]]
address = "192.168.20.143"
prefixLength = 24

[config.networking.private-wireguard]
enable = true
ips = [
  "10.66.134.216/32",
  "fc00:bbbb:bbbb:bb01::3:86d7/128"
]
privateKeyFile = "/run/agenix/wg-net"

[[config.networking.private-wireguard.peers]]
allowedIPs = [ "0.0.0.0/0", "::0/0" ]
endpoint = "185.204.1.219:51820"
publicKey = "CYFNNfntzhRHn0+QHWv2eBOeU/sCZ5f6FLbTMUyIQHk="

[config.services.syncthing]
enable = true
devices.s23ultra.id = "WIEQUVJ-5TNGRPN-YD4E47D-WEXXBZO-2AGHFQZ-2K4DDRB-DFSD2UZ-34OCBQ4"
devices.s8plus.id = "EI6DXMZ-3CMM3R3-LNJPFIF-CTXDVAG-2SXLOCY-4NEEZ3K-CYJBXU6-6W44TAV"
user = "john"
group = "users"
openDefaultPorts = true
folders."/home/john/Sync".id = "sync"
folders."/home/john/Sync".devices = [
  "antares",
  "eris",
  "polaris",
  "atlas",
  "titan",
  "hyperion",
  "sirius",
  "vela",
  "s23ultra",
  "s8plus"
]
folders."/home/john/Photos".id = "photos"
folders."/home/john/Photos".devices = [
  "antares",
  "atlas",
  "eris",
  "polaris",
  "s23ultra",
  "vela",
  "sirius"
]
folders."/home/john/Photos".versioning.type = "staggered"
folders."/home/john/Photos".versioning.params.cleanInterval = "3600"
folders."/home/john/Photos".versioning.params.maxAge = "0"
folders."/home/john/Photos".versioning.params.versionsPath = "/home/john/Photos/stbackup"

cert = "/run/agenix/syncthing-cert"
key = "/run/agenix/syncthing-key"
dataDir = "/home/john/.local/share/syncthing-data"

[config.age.secrets]
k3s-token.file = "secrets/k3s/token.age"
wg-home.file = "secrets/icarus/wg-home.age"
wg-net.file = "secrets/icarus/wg-net.age"
syncthing-cert = { file = "secrets/icarus/syncthing-cert.age", owner = "1337" }
syncthing-key = { file = "secrets/icarus/syncthing-key.age", owner = "1337" }
tailscale-auth = { file = "secrets/tailscale-auth.age" }
ts-gh-9k = { file = "secrets/ts-gh-9k.age", owner = "1337" }

[config.services.tailscale.auth]
enable = true
args.advertise-tags = ["tag:server"]
args.ssh = true
args.accept-routes = false ## with this on, it causes issues in k3s when network runs on top of tailscale
args.accept-dns = false
args.auth-key = "file:/var/run/agenix/ts-gh-9k"
args.advertise-routes = "10.128.128.0/21,10.129.128.0/22"

[config.services.k3s]
enable = true
role = "agent"
after = [ "tailscale-auth.service" ]

[config.services.k3s.settings]
server = "https://100.97.45.72:6443"
token-file = "/run/agenix/k3s-token"
flannel-iface = "tailscale0"
node-ip = "$(get-iface-ip tailscale0)"
node-external-ip = "$(get-iface-ip eth0)"
with-node-id = true
kubelet-arg.max-pods = 62
node-label."topology.kubernetes.io/region" = "home"
node-label."topology.kubernetes.io/zone" = "home"

[config.environment.state."/keep"]
directories = [
  "/var/lib/jellyfin",
  "/var/lib/media",
]

[config.home-manager.users.john]
profiles = [
  "users/profiles/alacritty",
  "users/profiles/bat",
  "users/profiles/fish",
  "users/profiles/git",
  "users/profiles/kubie",
  "users/profiles/nushell",
  "users/profiles/pueue",
  "users/profiles/rbw",
  "users/profiles/ssh",
  "users/profiles/starship",
  "users/profiles/sway",
  "users/profiles/waybar",
  "users/profiles/tmux",
]

[config.home-manager.users.john.programs.bat]
enable = true

[config.home-manager.users.john.programs.emacs]
enable = true
package = "${pkgs.my-emacs}"

[config.home-manager.users.john.services.emacs]
enable = true
package = "${pkgs.my-emacs}"
socketActivation.enable = true

[config.home-manager.users.john.systemd.user.services.emacs.Service]
Environment = [ "COLORTERM=truecolor", "SSH_AUTH_SOCK=/run/user/1337/ssh-auth.sock" ]
LimitNOFILE = 16384

[config.home-manager.users.john.userinfo]
email = "john@insane.se"
fullName = "John Axel Eriksson"
githubUser = "johnae"
gitlabUser = "johnae"

[[config.home-manager.users.john.programs.git.includes]]
condition = "gitdir:~/Development/volvo/" ## note the IMPORTANT trailing slash
contents.user.email = "john.axel.eriksson@consultant.volvo.com"
contents.credential."https://github.com".helper = "${pkgs.scripts}/bin/rbw-git-creds github.com john.axel.eriksson@consultant.volvo.com"
contents.url."https://github.com".insteadOf = "ssh://git@github.com"

[config.programs.dconf]
enable = true

