system = "x86_64-linux"

[config]
publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMfXrbXEQcJ85CGW9/qnm/jS8Vp6GP2yQ2piFF8+OFWR"
syncthingDeviceID = "HBL5ZRB-R2STGW5-LMAYYHX-KOFTP3X-VO4IV6E-PEDKZ3N-WCRR7BY-F5C7AAP"

profiles = [
  "profiles/hardware/b550",
  "profiles/default_fs",
  "profiles/hidpi",
  "profiles/jellyfin",
  "profiles/k3s",
  "profiles/server",
  "profiles/state",
  "profiles/syncthing",
  "profiles/uuid_disk_crypt",
  "profiles/zram",
]

[config.programs.mosh]
enable = true

[config.hardware.opengl]
enable = true

[config.btrfs]
disks = [ "/dev/nvme0n1", "/dev/nvme1n1" ]

[config.system.autoUpgrade]
enable = true
flake = "github:johnae/world"
allowReboot = true
dates = "*:0/15"
randomizedDelaySec = "5min"
enableSentinel = true

[config.users.groups.john]
gid = 1337

[config.users.users.john]
uid = 1337
hashedPassword = "$6$cmSsVS0s3nFkd4IE$y4g2KLxUCwQFej/LvrNkF57cdw.VYWPN3x4HQ5XCz34wAiCaBrLO2..OIPSu60/Gxr9uY44PYlimOeHs3Ma5a0"
openssh.authorizedKeys.keys = [
  "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCyjMuNOFrZBi7CrTyu71X+aRKyzvTmwCEkomhB0dEhENiQ3PTGVVWBi1Ta9E9fqbqTW0HmNL5pjGV+BU8j9mSi6VxLzJVUweuwQuvqgAi0chAJVPe0FSzft9M7mJoEq5DajuSiL7dSjXpqNFDk/WCDUBE9pELw+TXvxyQpFO9KZwiYCCNRQY6dCjrPJxGwG+JzX6l900GFrgOXQ3KYGk8vzep2Qp+iuH1yTgEowUICkb/9CmZhHQXSvq2gAtoOsGTd9DTyLOeVwZFJkTL/QW0AJNRszckGtYdA3ftCUNsTLSP/VqYN9EjxcMHQe4PGjkK7VLb59DQJFyRQqvPXiUyxNloHcu/sDuiKHIk/0qDLHlVn2xc5zkvzSqoQxoXx+P4dDbje1KHLY8E96gLe2Csu0ti+qsM5KEvgYgwWwm2g3IBlaWwgAtC0UWEzIuBPrAgPd5vi+V50ITIaIk6KIV7JPOubLUXaLS5KW77pWyi9PqAGOXj+DgTWoB3QeeZh7CGhPL5fAecYN7Pw734cULZpnw10Bi/jp4Nlq1AJDk8BwLUJbzZ8aexwMf78syjkHJBBrTOAxADUE02nWBQd0w4K5tl/a3UnBYWGyX8TD44046Swl/RY/69PxFvYcVRuF4eARI6OWojs1uhoR9WkO8eGgEsuxxECwNpWxR5gjKcgJQ==",
  "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIJY3QSBIiRKN8/B3nHgCBDpauQBOftphOeuF2TaBHGQSAAAABHNzaDo=",
  "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIAwJWtQ5ZU9U0szWzJ+/GH2uvXZ15u9lL0RdcHdsXM0VAAAABHNzaDo=",
]

[config.networking]
defaultGateway = "192.168.20.1"

[config.networking.firewall]
trustedInterfaces = [ "insane" ] ## trust the vpn mesh

[[config.networking.interfaces.eth0.ipv4.addresses]]
address = "192.168.20.143"
prefixLength = 24

[config.networking.private-wireguard]
enable = true
ips = [
  "10.66.134.216/32",
  "fc00:bbbb:bbbb:bb01::3:86d7/128"
]
privateKeyFile = "/run/agenix/wg-net"

[[config.networking.private-wireguard.peers]]
allowedIPs = [ "0.0.0.0/0", "::0/0" ]
endpoint = "185.204.1.219:51820"
publicKey = "CYFNNfntzhRHn0+QHWv2eBOeU/sCZ5f6FLbTMUyIQHk="

[config.services.innernet.client.insane]
enable = true

[config.services.innernet.client.insane.settings.interface]
address = "192.168.104.70/22"
privateKeyFile = "/run/agenix/wg-home"

[config.services.innernet.client.insane.settings.server]
publicKey = "Ca4OCVKasunoIVyh3vbp/HyLnrPWp7AOwEuV14PS1QY="
externalEndpoint = "65.108.2.146:51820"
internalEndpoint = "192.168.104.1:51820"

[config.services.syncthing]
enable = true
devices.SM-G998B.id = "PCFNIXF-AR7YX2B-354IJQW-YP25QM7-N53ES5L-HKB337S-I6JZV34-55LQEAR"
user = "john"
group = "users"
openDefaultPorts = true
folders."/home/john/Sync".id = "sync"
folders."/home/john/Sync".devices = [
  "triton",
  "eris",
  "polaris",
  "titan",
  "hyperion"
]
folders."/home/john/Photos".id = "sm-g998b_7dxn foton"
folders."/home/john/Photos".devices = [
  "triton",
  "eris",
  "polaris",
  "SM-G998B"
]
folders."/home/john/Photos".versioning.type = "staggered"
folders."/home/john/Photos".versioning.params.cleanInterval = "3600"
folders."/home/john/Photos".versioning.params.maxAge = "0"
folders."/home/john/Photos".versioning.params.versionsPath = "/home/john/Photos/stbackup"

cert = "/run/agenix/syncthing-cert"
key = "/run/agenix/syncthing-key"
dataDir = "/home/john/.local/share/syncthing-data"

[config.age.secrets]
k3s-token.file = "secrets/k3s/token.age"
wg-home.file = "secrets/icarus/wg-home.age"
wg-net.file = "secrets/icarus/wg-net.age"
syncthing-cert = { file = "secrets/icarus/syncthing-cert.age", owner = "1337" }
syncthing-key = { file = "secrets/icarus/syncthing-key.age", owner = "1337" }

[config.services.k3s]
enable = true
role = "agent"
after = [ "innernet-client-insane.service" ]

[config.services.k3s.settings]
server = "https://192.168.104.100"
token-file = "/run/agenix/k3s-token"
flannel-iface = "insane"
node-ip = "192.168.104.70"
node-external-ip = "192.168.20.143"
with-node-id = true
kubelet-arg.max-pods = 62
node-label."topology.kubernetes.io/region" = "home"
node-label."topology.kubernetes.io/zone" = "home"

[config.environment.state."/keep"]
directories = [
  "/var/lib/jellyfin",
  "/var/lib/media",
]