publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAZaFbtnZfWQEbRSB2jIbznfDkqdFs+lvvpKB2RVsclM"
arch = "aarch64-linux"

profiles = [
  "hardware/raspberrypi4",
  "profiles/default_fs",
  "profiles/hidpi",
  "profiles/server",
  "profiles/state",
  "profiles/uuid_disk_crypt",
  "profiles/zram",
]

users.groups.john.gid = 1337
users.users.john.uid = 1337
users.users.john.hashedPassword = "$6$zl64i8ENMZt2$zOYSeCnhGaD5i8QBGr2LwkIQhNlGlxAg3h5WfC4NEEGZGzv71XboSwMAb1WPl5TuIz1HqDDBykuhdoX3RwEjw/"
users.users.john.openssh.authorizedKeys.keys = [
  "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCyjMuNOFrZBi7CrTyu71X+aRKyzvTmwCEkomhB0dEhENiQ3PTGVVWBi1Ta9E9fqbqTW0HmNL5pjGV+BU8j9mSi6VxLzJVUweuwQuvqgAi0chAJVPe0FSzft9M7mJoEq5DajuSiL7dSjXpqNFDk/WCDUBE9pELw+TXvxyQpFO9KZwiYCCNRQY6dCjrPJxGwG+JzX6l900GFrgOXQ3KYGk8vzep2Qp+iuH1yTgEowUICkb/9CmZhHQXSvq2gAtoOsGTd9DTyLOeVwZFJkTL/QW0AJNRszckGtYdA3ftCUNsTLSP/VqYN9EjxcMHQe4PGjkK7VLb59DQJFyRQqvPXiUyxNloHcu/sDuiKHIk/0qDLHlVn2xc5zkvzSqoQxoXx+P4dDbje1KHLY8E96gLe2Csu0ti+qsM5KEvgYgwWwm2g3IBlaWwgAtC0UWEzIuBPrAgPd5vi+V50ITIaIk6KIV7JPOubLUXaLS5KW77pWyi9PqAGOXj+DgTWoB3QeeZh7CGhPL5fAecYN7Pw734cULZpnw10Bi/jp4Nlq1AJDk8BwLUJbzZ8aexwMf78syjkHJBBrTOAxADUE02nWBQd0w4K5tl/a3UnBYWGyX8TD44046Swl/RY/69PxFvYcVRuF4eARI6OWojs1uhoR9WkO8eGgEsuxxECwNpWxR5gjKcgJQ==",
  "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIJY3QSBIiRKN8/B3nHgCBDpauQBOftphOeuF2TaBHGQSAAAABHNzaDo=",
  "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIAwJWtQ5ZU9U0szWzJ+/GH2uvXZ15u9lL0RdcHdsXM0VAAAABHNzaDo=",
]

system.autoUpgrade = { enable = true, flake = "github:johnae/world", allowReboot = true, dates = "*:0/15", randomizedDelaySec = "5min" }

networking.firewall.trustedInterfaces = [ "insane" ]
services.innernet.client.insane.enable = true
services.innernet.client.insane.settings.interface = { address = "192.168.104.100/22", privateKeyFile = "/run/agenix/wg-home" }
services.innernet.client.insane.settings.server = { publicKey = "Ca4OCVKasunoIVyh3vbp/HyLnrPWp7AOwEuV14PS1QY=", externalEndpoint = "65.108.2.146:51820", internalEndpoint = "192.168.104.1:51820" }

age.secrets.wg-home.file = "secrets/milkyway/wg-home.age"

services.jae.router.enable = true
services.jae.router.unifiAddress = "65.108.2.146"
services.jae.router.dnsCrypt = true
## with dnsCrypt enabled, the below servers won't be used
services.jae.router.upstreamDnsServers = [
  "1.0.0.1",
  "1.1.1.1",
  "2606:4700:4700::1111",
  "2606:4700:4700::1001",
]
services.jae.router.domain = "insane.lan"
services.jae.router.dnsmasqAdditionalListenAddresses = [ "192.168.104.100" ]
services.jae.router.externalInterface = "enp1s0u2"
services.jae.router.internalInterface = "eth0"
services.jae.router.vlans.lan = { id = 10, interface = "eth0" }
services.jae.router.vlans.work = { id = 20, interface = "eth0" }
services.jae.router.vlans.iot = { id = 30, interface = "eth0" }
services.jae.router.vlans.guest = { id = 40, interface = "eth0" }

services.prometheus.exporters.node.enable = true

networking.firewall.allowedTCPPorts = [ 80, 443 ]
services.nginx.enable = true
security.acme.email = "john+milkyway@insane.se"
security.acme.acceptTerms = true
services.nginx.recommendedGzipSettings = true
services.nginx.recommendedOptimisation = true
services.nginx.recommendedProxySettings = true
services.nginx.recommendedTlsSettings = true
services.nginx.sslCiphers = "AES256+EECDH:AES256+EDH:!aNULL"
services.nginx.virtualHosts."home.insane.se".enableACME = true

services.promtail.enable = true
services.promtail.configuration.positions.filename = "/tmp/positions.yaml"

[[services.promtail.configuration.clients]]
url = "https://logs.insane.se/loki/api/v1/push"
tls_config.ca_file = "/etc/ssl/certs/ca-bundle.crt"
tls_config.cert_file = "/var/lib/acme/home.insane.se/cert.pem"
tls_config.key_file = "/var/lib/acme/home.insane.se/key.pem"
tls_config.server_name = "logs.insane.se"

[[services.promtail.configuration.scrape_configs]]
job_name = "journal"
journal.max_age = "12h"
journal.labels = { job = "systemd-journal", host = "milkyway", context = "home-network", component = "router" }
relabel_configs = [
  { source_labels = [ "__journal_systemd_unit" ], target_label = "unit" }
]