system = "x86_64-linux"

[config]
publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILOeY+TshjtBK5VQu4ZJVJ0ol1PsZxLvIy+YNCOtfZmd"
syncthingDeviceID = "5RMZCHO-M3OA4UH-3PMKBWD-IVJGW4Q-VZBME6O-OCSPMK4-7YOVDAM-QOEDOQC"

profiles = [
  "profiles/hardware/ax41",
  "profiles/acme",
  "profiles/default_fs",
  "profiles/home-manager",
  "profiles/jellyfin",
  "profiles/k3s",
  "profiles/server",
  "profiles/state",
  "profiles/syncthing",
  "profiles/zram",
]

#[config.btrfs]
#disks = [ "/dev/nvme0n1", "/dev/nvme1n1" ]

[config.programs.mosh]
enable = true

[config.system.autoUpgrade]
enable = true
flake = "github:johnae/world"
allowReboot = true
dates = "*:0/15"
randomizedDelaySec = "5min"
enableSentinel = true

[config.boot]
kernelParams = [
  "ip=65.108.2.146::65.108.2.129:255.255.255.192:polaris:eth0:none",
]

[config.boot.initrd]
availableKernelModules = [
  "r8169",
  "nvme",
  "ahci",
  "usbhid",
]

[config.boot.initrd.network]
enable = true
postCommands = "echo 'cryptsetup-askpass' >> /root/.profile"

[config.boot.initrd.network.ssh]
enable = true
port = 2222
## This isn't so nice. Have to copy the file to /keep/secrets and keep it there.
hostKeys = [
  "/keep/secrets/initrd_ed25519_key",
]
authorizedKeys = [
  "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCyjMuNOFrZBi7CrTyu71X+aRKyzvTmwCEkomhB0dEhENiQ3PTGVVWBi1Ta9E9fqbqTW0HmNL5pjGV+BU8j9mSi6VxLzJVUweuwQuvqgAi0chAJVPe0FSzft9M7mJoEq5DajuSiL7dSjXpqNFDk/WCDUBE9pELw+TXvxyQpFO9KZwiYCCNRQY6dCjrPJxGwG+JzX6l900GFrgOXQ3KYGk8vzep2Qp+iuH1yTgEowUICkb/9CmZhHQXSvq2gAtoOsGTd9DTyLOeVwZFJkTL/QW0AJNRszckGtYdA3ftCUNsTLSP/VqYN9EjxcMHQe4PGjkK7VLb59DQJFyRQqvPXiUyxNloHcu/sDuiKHIk/0qDLHlVn2xc5zkvzSqoQxoXx+P4dDbje1KHLY8E96gLe2Csu0ti+qsM5KEvgYgwWwm2g3IBlaWwgAtC0UWEzIuBPrAgPd5vi+V50ITIaIk6KIV7JPOubLUXaLS5KW77pWyi9PqAGOXj+DgTWoB3QeeZh7CGhPL5fAecYN7Pw734cULZpnw10Bi/jp4Nlq1AJDk8BwLUJbzZ8aexwMf78syjkHJBBrTOAxADUE02nWBQd0w4K5tl/a3UnBYWGyX8TD44046Swl/RY/69PxFvYcVRuF4eARI6OWojs1uhoR9WkO8eGgEsuxxECwNpWxR5gjKcgJQ==",
  "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIJY3QSBIiRKN8/B3nHgCBDpauQBOftphOeuF2TaBHGQSAAAABHNzaDo=",
  "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIAwJWtQ5ZU9U0szWzJ+/GH2uvXZ15u9lL0RdcHdsXM0VAAAABHNzaDo=",
  "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK+trOinD68RD1efI6p05HeaNA0SjzeRnUvpf22+jsq+",
]

[config.users.groups.john]
gid = 1337

[config.users.users.john]
uid = 1337
shell = "nushell"
hashedPassword = "$6$MY8KAtdXlQP5.$TEZbPueD71fYUGviybTjFWCD5s1eWmr9FK9WtoLFKFy3yfLu18KPJ2wAbK8ZVJDo52hsc0vGa4LKYbzb.pwPk0"
openssh.authorizedKeys.keys = [
  "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCyjMuNOFrZBi7CrTyu71X+aRKyzvTmwCEkomhB0dEhENiQ3PTGVVWBi1Ta9E9fqbqTW0HmNL5pjGV+BU8j9mSi6VxLzJVUweuwQuvqgAi0chAJVPe0FSzft9M7mJoEq5DajuSiL7dSjXpqNFDk/WCDUBE9pELw+TXvxyQpFO9KZwiYCCNRQY6dCjrPJxGwG+JzX6l900GFrgOXQ3KYGk8vzep2Qp+iuH1yTgEowUICkb/9CmZhHQXSvq2gAtoOsGTd9DTyLOeVwZFJkTL/QW0AJNRszckGtYdA3ftCUNsTLSP/VqYN9EjxcMHQe4PGjkK7VLb59DQJFyRQqvPXiUyxNloHcu/sDuiKHIk/0qDLHlVn2xc5zkvzSqoQxoXx+P4dDbje1KHLY8E96gLe2Csu0ti+qsM5KEvgYgwWwm2g3IBlaWwgAtC0UWEzIuBPrAgPd5vi+V50ITIaIk6KIV7JPOubLUXaLS5KW77pWyi9PqAGOXj+DgTWoB3QeeZh7CGhPL5fAecYN7Pw734cULZpnw10Bi/jp4Nlq1AJDk8BwLUJbzZ8aexwMf78syjkHJBBrTOAxADUE02nWBQd0w4K5tl/a3UnBYWGyX8TD44046Swl/RY/69PxFvYcVRuF4eARI6OWojs1uhoR9WkO8eGgEsuxxECwNpWxR5gjKcgJQ==",
  "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIJY3QSBIiRKN8/B3nHgCBDpauQBOftphOeuF2TaBHGQSAAAABHNzaDo=",
  "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIAwJWtQ5ZU9U0szWzJ+/GH2uvXZ15u9lL0RdcHdsXM0VAAAABHNzaDo=",
]

[config.services.nginx]
enable = true
recommendedTlsSettings = true
recommendedProxySettings = true
recommendedGzipSettings = true
recommendedOptimisation = true
clientMaxBodySize = "300m"

[config.services.headscale]
enable = true
address = "0.0.0.0"
port = 8088
serverUrl = "https://tailscale.9000.dev"
dns.baseDomain = "9000.dev"
dns.domains = [ "ts.9000.dev" ]
dns.nameservers = [ "1.1.1.1" ]
dns.magicDns = true
openIdConnect.issuer = "https://9000.eu.auth0.com/"
openIdConnect.domainMap.".*" = "default-namespace"
openIdConnect.clientId = "OkvvzmPd9AzS93lOTSp61g1v5EU4A9eg"
openIdConnect.clientSecretFile = "/run/agenix/9000-auth0"

[config.services.headscale.settings]
logtail.enabled = false
log.level = "debug"
oidc.allowed_domains = [ "insane.se", "9000.dev" ]
oidc.allowed_users = [ "john@insane.se", "john@9000.dev" ]

[config.services.nginx.virtualHosts."tailscale.9000.dev"]
forceSSL = true
enableACME = true
locations."/".proxyPass = "http://localhost:8088"
locations."/".proxyWebsockets = true

[config.services.syncthing]
enable = true
devices.SM-G998B.id = "PCFNIXF-AR7YX2B-354IJQW-YP25QM7-N53ES5L-HKB337S-I6JZV34-55LQEAR"
user = "john"
group = "users"
openDefaultPorts = true
folders."/home/john/Sync".id = "sync"
folders."/home/john/Sync".devices = [
  "antares",
  "eris",
  "icarus",
  "titan",
  "hyperion",
  "SM-G998B"
]
folders."/home/john/Photos".id = "sm-g998b_7dxn foton"
folders."/home/john/Photos".devices = [
  "antares",
  "eris",
  "icarus",
  "SM-G998B"
]
folders."/home/john/Photos".versioning.type = "staggered"
folders."/home/john/Photos".versioning.params.cleanInterval = "3600"
folders."/home/john/Photos".versioning.params.maxAge = "0"
folders."/home/john/Photos".versioning.params.versionsPath = "/home/john/Photos/stbackup"
cert = "/run/agenix/syncthing-cert"
key = "/run/agenix/syncthing-key"
dataDir = "/home/john/.local/share/syncthing-data"

[config.services.innernet.server.insane]
enable = true

[config.services.innernet.server.insane.settings]
openFirewall = true
cidr = "192.168.104.0/22"
listenPort = 51820
privateKeyFile = "/run/agenix/wg-home"
publicKey = "Ca4OCVKasunoIVyh3vbp/HyLnrPWp7AOwEuV14PS1QY="
externalEndpoint = "65.108.2.146:51820"

[config.services.innernet.server.insane.settings.cidrs.home]
cidr = "192.168.104.64/26"
parent = "insane"

[config.services.innernet.server.insane.settings.peers]
eris.ip = "192.168.104.65"
eris.cidr = "home"
eris.publicKey = "Oya0T0tzAV25A7/Qp3tqKP+2KgGjA/OVuUmKzsTFpRo="
eris.isAdmin = true

titan.ip = "192.168.104.67"
titan.cidr = "home"
titan.publicKey = "vNfSS1HsbnRqV6V/RfG0Aq1IoNQPS+IP2O162UlVQQA="

hyperion.ip = "192.168.104.68"
hyperion.cidr = "home"
hyperion.publicKey = "zra1G18xLfq29/4DLBYKDr0BfhILaIHyhd09Bwl9Tj8="

icarus.ip = "192.168.104.70"
icarus.cidr = "home"
icarus.publicKey = "mDghZTpKQTGgeWYZzHiylgAvGY2yYnPdPaN5ja2V9Qw="

antares.ip = "192.168.104.71"
antares.cidr = "home"
antares.publicKey = "CR6tb4DACdqyera100yhvSZ9FuwFRyrPL/bMIf1Of28="

milkyway.ip = "192.168.104.100"
milkyway.cidr = "home"
milkyway.publicKey = "XPWUeQ4N9zYcyWgIvvp+3eHSsBiqnHuuwu2J/1uHHkE="

[config.networking]
defaultGateway = "65.108.2.129"
defaultGateway6 = { address = "fe80::1", interface = "eth0" }

[[config.networking.interfaces.eth0.ipv4.addresses]]
address = "65.108.2.146"
prefixLength = 26

[[config.networking.interfaces.eth0.ipv6.addresses]]
address = "2a01:4f9:6a:51ed::2"
prefixLength = 64

[config.networking.private-wireguard]
enable = true
ips = [
  "10.65.167.230/32",
  "fc00:bbbb:bbbb:bb01::2:a7e5/128"
]
privateKeyFile = "/run/agenix/wg-net"

[[config.networking.private-wireguard.peers]]
allowedIPs = [ "0.0.0.0/0", "::0/0" ]
endpoint = "185.65.135.70:51820"
publicKey = "615mnBGkvjZnD/vRbyL/6da7YhtctfB+jimN+wfV724="

[config.networking.firewall]
trustedInterfaces = [ "insane" ] ## trust the vpn mesh
allowedUDPPorts = [ 5349, 3478 ]
allowedTCPPorts = [ 5349, 3478, 80, 443 ]
allowedUDPPortRanges = [ { from = 49160, to = 49200 } ]

[config.age.secrets]
k3s-token.file = "secrets/k3s/token.age"
wg-home.file = "secrets/polaris/wg-home.age"
wg-net.file = "secrets/polaris/wg-net.age"
syncthing-cert = { file = "secrets/polaris/syncthing-cert.age", owner = "1337" }
syncthing-key = { file = "secrets/polaris/syncthing-key.age", owner = "1337" }
mailserver-john = { file = "secrets/mail/mailserver-john.age"}
cloudflare-env = { file = "secrets/cloudflare-env.age" }
9000-auth0 = { file = "secrets/9000-auth0.age", owner = "headscale", group = "headscale" }

flux-system-secret = { file = "secrets/k3s/flux-system-secret.yaml.age", path = "/var/lib/rancher/k3s/server/manifests/flux-system-secret.yaml" }
sops-age-secret = { file = "secrets/k3s/sops-age-secret.yaml.age", path = "/var/lib/rancher/k3s/server/manifests/sops-age-secret.yaml" }
cluster-secrets = { file = "secrets/k3s/cluster-secrets.yaml.age", path = "/var/lib/rancher/k3s/server/manifests/cluster-secrets.yaml" }

mbsync-insane = { file = "secrets/mbsync-insane.age", owner = "1337" }
mbsync-9000 = { file = "secrets/mbsync-9000.age", owner = "1337" }
authinfo = { file = "secrets/authinfo.age", owner = "1337", path = "/home/john/.authinfo" }

[config.services.k3s]
enable = true
role = "server"
after = [ "innernet-server-insane.service" ]

[config.services.k3s.settings]
cluster-init = true
token-file = "/run/agenix/k3s-token"
flannel-iface = "insane"
node-ip = "192.168.104.1"
node-external-ip = "65.108.2.146"
with-node-id = true
advertise-address = "192.168.104.1"
cluster-cidr = "10.128.128.0/21"
service-cidr = "10.129.128.0/22"
cluster-dns = "10.129.128.10"
kubelet-arg.max-pods = 62
kube-controller-manager-arg.node-cidr-mask-size = 25
kube-apiserver-arg.oidc-issuer-url = "https://auth.9000.dev"
kube-apiserver-arg.oidc-username-claim = "email"
kube-apiserver-arg.oidc-groups-claim = "groups"
kube-apiserver-arg.oidc-client-id = "dex-auth"
node-label."svccontroller.k3s.cattle.io/enablelb" = "true"
node-label."topology.kubernetes.io/region" = "hetzner"
node-label."topology.kubernetes.io/zone" = "hetzner-fi"
secrets-encryption = true
tls-san = "192.168.104.100"

[config.services.k3s.autoDeploy]
kured = "${pkgs.kured-yaml}/kured.yaml"
flux = "${pkgs.fluxcd-yaml}/flux.yaml"

[config.services.k3s.autoDeploy.cluster-vars]
apiVersion = "v1"
kind = "ConfigMap"
metadata.name = "cluster-vars"
metadata.namespace = "flux-system"
data.cluster = "home"
data.context = "default"
data.coturn_relay_ip = "192.168.104.1"
data.cluster_dns_zone = "home.k.ill.dev"
data.cluster_dns_root_zone = "ill.dev"
data.main_dns_zone = "9000.dev"
data.private_dns_zone = "insane.se"
data.personal_dns_zone = "johnae.dev"
data.environment = "production"
data.prometheus_remote_write_url = "https://metrics.home.k.ill.dev/api/v1/push"
data.loki_remote_write_url = "https://logs.home.k.ill.dev/loki/api/v1/push"
data.grafana_dns = "grafana.9000.dev"
data.pod_subnet = "10.128.128.0/21"
data.minio_host = "minio.minio.svc.cluster.local"
data.loki_bucket = "loki-d78f"
data.cortex_bucket = "cortex-d78f"
data.github_org = "9k-dev"

[config.services.k3s.autoDeploy.flux-system-repo]
apiVersion = "source.toolkit.fluxcd.io/v1beta1"
kind = "GitRepository"
metadata.name = "flux-system"
metadata.namespace = "flux-system"
spec.gitImplementation = "go-git"
spec.interval = "1m0s"
spec.ref.branch = "main"
spec.secretRef.name = "flux-system"
spec.timeout = "20s"
spec.url = "ssh://git@github.com/johnae/flux-system.git"

[config.services.k3s.autoDeploy.flux-components-kustomization]
apiVersion = "kustomize.toolkit.fluxcd.io/v1beta1"
kind = "Kustomization"
metadata.name = "components"
metadata.namespace = "flux-system"
spec.interval = "5m0s"
spec.sourceRef.kind = "GitRepository"
spec.sourceRef.name = "flux-system"
spec.path = "./clusters/home/components"
spec.prune = true
spec.validation = "client"
spec.postBuild.substituteFrom = [
  { kind = "ConfigMap", name = "cluster-vars" },
  { kind = "Secret", name = "cluster-secrets" }
]

[config.environment.state."/keep"]
directories = [
  "/var/lib/headscale",
  "/var/lib/jellyfin",
  "/var/lib/media",
]

[config.home-manager.users.john]
profiles = [
  "users/profiles/fish",
  "users/profiles/git",
  "users/profiles/kubie",
  "users/profiles/nushell",
  "users/profiles/pueue",
  "users/profiles/rbw",
  "users/profiles/ssh",
  "users/profiles/starship",
  "users/profiles/tmux",
]

[config.home-manager.users.john.home.file.".emacs"]
source = "${pkgs.my-emacs-config}"

[config.home-manager.users.john.programs.bat]
enable = true

[config.home-manager.users.john.programs.emacs]
enable = true
package = "${pkgs.my-emacs}"

[config.home-manager.users.john.services.emacs]
enable = true
package = "${pkgs.my-emacs}"
socketActivation.enable = true

[config.home-manager.users.john.systemd.user.services.emacs.Service]
Environment = [ "COLORTERM=truecolor" ]
LimitNOFILE = 16384

[config.home-manager.users.john.userinfo]
email = "john@insane.se"
fullName = "John Axel Eriksson"
githubUser = "johnae"
gitlabUser = "johnae"

[config.programs.dconf]
enable = true

[config.home-manager.users.john.programs.mbsync]
enable = true

[config.home-manager.users.john.services.mbsync]
enable = true
frequency = "*:0/5"

[config.home-manager.users.john.services.imapnotify]
enable = true

[config.home-manager.users.john.services.gitAutoSync.repos."~/Development/org-roam"]
repository = "git@github.com:johnae/org-roam"
sshKey = "/run/agenix/id_ed25519_roam_updater"

[config.home-manager.users.john.services.gitAutoSync.repos."~/Development/org-agenda"]
repository = "git@github.com:johnae/org-agenda"
sshKey = "/run/agenix/id_ed25519_agenda_updater"

[config.home-manager.users.john.accounts.email]
maildirBasePath = "Mail"

[config.home-manager.users.john.accounts.email.accounts.insane]
address = "john@insane.se"
primary = true
flavor = "gmail.com"
mbsync.enable = true
mbsync.create = "both"
mbsync.extraConfig.account.PipelineDepth = 10
passwordCommand = "${pkgs.coreutils}/bin/cat /run/agenix/mbsync-insane"
imapnotify.enable = true
imapnotify.boxes = [ "Inbox" ]
imapnotify.onNotify = "${pkgs.isync}/bin/mbsync insane"
imapnotify.onNotifyPost = "${pkgs.mu}/bin/mu index"

[config.home-manager.users.john.accounts.email.accounts.insane.mbsync.groups.gmail.channels]
inbox.patterns = ["INBOX"]
inbox.extraConfig.Create = "both"
inbox.extraConfig.SyncState = "*"

all.farPattern = "[Gmail]/All Mail"
all.nearPattern = "All"
all.extraConfig.Create = "near"
all.extraConfig.SyncState = "*"

sent.farPattern = "[Gmail]/Sent Mail"
sent.nearPattern = "Sent"
sent.extraConfig.Create = "near"
sent.extraConfig.SyncState = "*"

trash.farPattern = "[Gmail]/Trash"
trash.nearPattern = "Trash"
trash.extraConfig.Create = "near"
trash.extraConfig.SyncState = "*"

drafts.farPattern = "[Gmail]/Drafts"
drafts.nearPattern = "Drafts"
drafts.extraConfig.Create = "near"
drafts.extraConfig.SyncState = "*"

[config.home-manager.users.john.accounts.email.accounts.9000]
address = "john@9000.dev"
userName = "john@9000.dev"
primary = false
imap.host = "mail.9000.dev"
mbsync.enable = true
mbsync.create = "both"
mbsync.extraConfig.account.PipelineDepth = 10
passwordCommand = "${pkgs.coreutils}/bin/cat /run/agenix/mbsync-9000"
imapnotify.enable = true
imapnotify.boxes = [ "Inbox" ]
imapnotify.onNotify = "${pkgs.isync}/bin/mbsync 9000"
imapnotify.onNotifyPost = "${pkgs.mu}/bin/mu index"

[config.home-manager.users.john.accounts.email.accounts.insane.mbsync.groups.9000.channels]
all.patterns = ["*"]
all.extraConfig.Create = "near"
all.extraConfig.SyncState = "*"
all.extraConfig.CopyArrivalDate = "yes"