system = "x86_64-linux"

[config]
publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIkVRh0mxlSK57KgjsGXBgmQ+Ix9+dYIgKd941eXaPx3"
syncthingDeviceID = "XFZC5TF-K6CWYRL-GIMFEZO-HNXUS4Q-BPJZJQR-3SVNTXL-X4UABVR-RWDROQD"

profiles = [
  "profiles/hardware/ax101",
  "profiles/acme",
  "profiles/default_fs",
  "profiles/home-manager",
  "profiles/jellyfin",
  "profiles/server",
  "profiles/state",
  "profiles/syncthing",
  "profiles/tailscale",
  "profiles/vaultwarden",
  "profiles/zram",
]

[config.btrfs]
disks = [ "/dev/nvme0n1", "/dev/nvme1n1" ]

[config.virtualisation]
docker.enable = false
podman.enable = true
podman.dockerCompat = true

[config.programs.mosh]
enable = true

[config.programs.ssh]
startAgent = true

[config.boot.binfmt]
emulatedSystems = [ "aarch64-linux" ]

[config.system.autoUpgrade]
enable = true
flake = "github:johnae/world"
allowReboot = true
dates = "06:00"
randomizedDelaySec = "5min"
enableSentinel = false ## not running kubernetes here

[config.boot]
kernelParams = [
  "ip=65.108.233.47::65.108.233.1:255.255.255.192:sirius:eth0:none",
]

[config.boot.initrd]
availableKernelModules = [
  "igb",
  "nvme",
  "ahci",
  "usbhid",
]

[config.boot.initrd.network]
enable = true
postCommands = "echo 'cryptsetup-askpass' >> /root/.profile"

[config.boot.initrd.network.ssh]
enable = true
port = 2222
## This isn't so nice. Have to copy the file to /keep/secrets and keep it there.
hostKeys = [
  "/keep/secrets/initrd_ed25519_key",
]
authorizedKeys = [
  "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCyjMuNOFrZBi7CrTyu71X+aRKyzvTmwCEkomhB0dEhENiQ3PTGVVWBi1Ta9E9fqbqTW0HmNL5pjGV+BU8j9mSi6VxLzJVUweuwQuvqgAi0chAJVPe0FSzft9M7mJoEq5DajuSiL7dSjXpqNFDk/WCDUBE9pELw+TXvxyQpFO9KZwiYCCNRQY6dCjrPJxGwG+JzX6l900GFrgOXQ3KYGk8vzep2Qp+iuH1yTgEowUICkb/9CmZhHQXSvq2gAtoOsGTd9DTyLOeVwZFJkTL/QW0AJNRszckGtYdA3ftCUNsTLSP/VqYN9EjxcMHQe4PGjkK7VLb59DQJFyRQqvPXiUyxNloHcu/sDuiKHIk/0qDLHlVn2xc5zkvzSqoQxoXx+P4dDbje1KHLY8E96gLe2Csu0ti+qsM5KEvgYgwWwm2g3IBlaWwgAtC0UWEzIuBPrAgPd5vi+V50ITIaIk6KIV7JPOubLUXaLS5KW77pWyi9PqAGOXj+DgTWoB3QeeZh7CGhPL5fAecYN7Pw734cULZpnw10Bi/jp4Nlq1AJDk8BwLUJbzZ8aexwMf78syjkHJBBrTOAxADUE02nWBQd0w4K5tl/a3UnBYWGyX8TD44046Swl/RY/69PxFvYcVRuF4eARI6OWojs1uhoR9WkO8eGgEsuxxECwNpWxR5gjKcgJQ==",
  "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIJY3QSBIiRKN8/B3nHgCBDpauQBOftphOeuF2TaBHGQSAAAABHNzaDo=",
  "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIAwJWtQ5ZU9U0szWzJ+/GH2uvXZ15u9lL0RdcHdsXM0VAAAABHNzaDo=",
  "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK+trOinD68RD1efI6p05HeaNA0SjzeRnUvpf22+jsq+",
]

[config.users.groups.john]
gid = 1337

[config.users.users.john]
uid = 1337
shell = "nushell"
hashedPassword = "$6$08ntYtLqoNoe7GVM$wjr0gmi5F9TARJS8vAQ2lZIW.B2lJrr3QSEYqNjHv7j4nVZVclCuGr9y3ZEckmZt0Vign7il1QEBl3gqNI5m8/"
openssh.authorizedKeys.keys = [
  "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCyjMuNOFrZBi7CrTyu71X+aRKyzvTmwCEkomhB0dEhENiQ3PTGVVWBi1Ta9E9fqbqTW0HmNL5pjGV+BU8j9mSi6VxLzJVUweuwQuvqgAi0chAJVPe0FSzft9M7mJoEq5DajuSiL7dSjXpqNFDk/WCDUBE9pELw+TXvxyQpFO9KZwiYCCNRQY6dCjrPJxGwG+JzX6l900GFrgOXQ3KYGk8vzep2Qp+iuH1yTgEowUICkb/9CmZhHQXSvq2gAtoOsGTd9DTyLOeVwZFJkTL/QW0AJNRszckGtYdA3ftCUNsTLSP/VqYN9EjxcMHQe4PGjkK7VLb59DQJFyRQqvPXiUyxNloHcu/sDuiKHIk/0qDLHlVn2xc5zkvzSqoQxoXx+P4dDbje1KHLY8E96gLe2Csu0ti+qsM5KEvgYgwWwm2g3IBlaWwgAtC0UWEzIuBPrAgPd5vi+V50ITIaIk6KIV7JPOubLUXaLS5KW77pWyi9PqAGOXj+DgTWoB3QeeZh7CGhPL5fAecYN7Pw734cULZpnw10Bi/jp4Nlq1AJDk8BwLUJbzZ8aexwMf78syjkHJBBrTOAxADUE02nWBQd0w4K5tl/a3UnBYWGyX8TD44046Swl/RY/69PxFvYcVRuF4eARI6OWojs1uhoR9WkO8eGgEsuxxECwNpWxR5gjKcgJQ==",
  "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIJY3QSBIiRKN8/B3nHgCBDpauQBOftphOeuF2TaBHGQSAAAABHNzaDo=",
  "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIAwJWtQ5ZU9U0szWzJ+/GH2uvXZ15u9lL0RdcHdsXM0VAAAABHNzaDo=",
]

[config.services.tailscale.auth]
enable = true
args.advertise-tags = ["tag:server"]
args.ssh = true
args.accept-routes = false
args.accept-dns = false
args.advertise-exit-node = true
args.auth-key = "file:/var/run/agenix/ts-gh-9k"

[config.services.nginx]
enable = true
recommendedTlsSettings = true
recommendedProxySettings = true
recommendedGzipSettings = true
recommendedOptimisation = true
clientMaxBodySize = "300m"

[config.services.nginx.virtualHosts."bw.9000.dev"]
locations."/".proxyPass = "http://localhost:8222"
locations."/".proxyWebsockets = true

[config.services.my-cloudflared]
enable = true

[config.services.my-cloudflared.tunnels.9000-tunnel]
credentialsFile = "/run/agenix/cloudflare-tunnel-9k"
default = "http://localhost"
originRequest.noTLSVerify = true

[config.services.my-matrix]
enable = true
server_name = "9000.dev"

[config.services.vaultwarden]
enable = true
environmentFile = "/run/agenix/vaultwarden-env"
backupDir = "/var/lib/vaultwarden-backup"

[config.services.vaultwarden.config]
DOMAIN = "https://bw.9000.dev"
SIGNUPS_ALLOWED = "false"
PASSWORD_HINTS_ALLOWED = "false"
ROCKET_ADDRESS = "127.0.0.1"
ROCKET_PORT = 8222

[config.services.syncthing]
enable = true
user = "john"
group = "users"
openDefaultPorts = true
cert = "/run/agenix/syncthing-cert"
key = "/run/agenix/syncthing-key"
dataDir = "/home/john/.local/share/syncthing-data"

[config.services.syncthing.settings]
devices.s23ultra.id = "WIEQUVJ-5TNGRPN-YD4E47D-WEXXBZO-2AGHFQZ-2K4DDRB-DFSD2UZ-34OCBQ4"
devices.s8plus.id = "EI6DXMZ-3CMM3R3-LNJPFIF-CTXDVAG-2SXLOCY-4NEEZ3K-CYJBXU6-6W44TAV"
folders."/home/john/Sync".id = "sync"
folders."/home/john/Sync".devices = [
  "antares",
  "eris",
  "icarus",
  "titan",
  "hyperion",
  "s23ultra",
  "s8plus"
]
folders."/home/john/Pictures".id = "pictures"
folders."/home/john/Pictures".devices = [
  "eris",
  "antares",
]
folders."/home/john/Photos".id = "photos"
folders."/home/john/Photos".devices = [
  "antares",
  "eris",
  "icarus",
  "s23ultra"
]
folders."/home/john/Photos".versioning.type = "staggered"
folders."/home/john/Photos".versioning.params.cleanInterval = "3600"
folders."/home/john/Photos".versioning.params.maxAge = "0"
folders."/home/john/Photos".versioning.params.versionsPath = "/home/john/Photos/stbackup"

[config.networking]
defaultGateway = "65.108.233.1"
defaultGateway6 = { address = "fe80::1", interface = "eth0" }

[[config.networking.interfaces.eth0.ipv4.addresses]]
address = "65.108.233.47"
prefixLength = 26

[[config.networking.interfaces.eth0.ipv6.addresses]]
address = "2a01:4f9:1a:ad1d::2"
prefixLength = 64

[config.networking.firewall]
trustedInterfaces = [ "insane" ] ## trust the vpn mesh
allowedUDPPorts = [ 5349, 3478 ]
allowedTCPPorts = [ 5349, 3478 ]
allowedUDPPortRanges = [ { from = 49160, to = 49200 } ]

[config.age.secrets]
syncthing-cert = { file = "secrets/sirius/syncthing-cert.age", owner = "1337" }
syncthing-key = { file = "secrets/sirius/syncthing-key.age", owner = "1337" }

initrd-key = { file = "secrets/sirius/initrd_ed25519_key.age", owner = "1337" }

id_ed25519_bbph = { file = "secrets/id_ed25519_bbph.age", owner = "1337", path = "/home/john/.ssh/id_ed25519_bbph" }
id_ed25519_alt = { file = "secrets/id_ed25519_alt.age", owner = "1337", path = "/home/john/.ssh/id_ed25519_alt" }
id_rsa_alt = { file = "secrets/id_rsa_alt.age", owner = "1337", path = "/home/john/.ssh/id_rsa_alt" }

tailscale-auth = { file = "secrets/tailscale-auth.age" }

mbsync-insane = { file = "secrets/mbsync-insane.age", owner = "1337" }
mbsync-9000 = { file = "secrets/mbsync-9000.age", owner = "1337" }
authinfo = { file = "secrets/authinfo.age", owner = "1337", path = "/home/john/.authinfo" }

restic-env = { file = "secrets/restic.age", owner = "1337" }
restic-pw = { file = "secrets/restic-pw.age", owner = "1337" }
ts-gh-johnae = { file = "secrets/ts-gh-johnae.age", owner = "1337" }
ts-gh-9k = { file = "secrets/ts-gh-9k.age", owner = "1337" }

cloudflare-tunnel-9k = { file = "secrets/cloudflare-tunnel-9k.age", owner = "cloudflared" }
vaultwarden-env = { file = "secrets/vaultwarden-env.age" }

[config.services.restic.backups.remote]
paths = [
  "/home/john/Development",
  "/home/john/Documents",
  "/home/john/Sync",
  "/home/john/Photos",
]
repository = "s3:https://b0850d27a4d43d7d0f8d36ebc6a1bfab.r2.cloudflarestorage.com/restic-9000-b147"
environmentFile = "/run/agenix/restic-env"
passwordFile = "/run/agenix/restic-pw"
initialize = true
timerConfig.OnCalendar = "*-*-* *:00:00"
timerConfig.RandomizedDelaySec = "5m"
extraBackupArgs = [
  "--exclude=\".direnv\"",
  "--exclude=\".terraform\"",
  "--exclude=\"node_modules/*\"",
]

[config.environment.state."/keep"]
directories = [
  "/var/lib/plex",
  "/var/lib/jellyfin",
  "/var/lib/media",
  "/var/lib/bitwarden_rs",
  "/var/lib/private",
]

[config.home-manager.users.john]
profiles = [
  "users/profiles/bat",
  "users/profiles/fish",
  "users/profiles/git",
  "users/profiles/kubie",
  "users/profiles/nushell",
  "users/profiles/pueue",
  "users/profiles/rbw",
  "users/profiles/ssh",
  "users/profiles/starship",
  "users/profiles/tmux",
]

[config.home-manager.users.john.programs.bat]
enable = true

[config.home-manager.users.john.programs.emacs]
enable = true
package = "${pkgs.my-emacs}"

[config.home-manager.users.john.services.emacs]
enable = true
package = "${pkgs.my-emacs}"
socketActivation.enable = true

[config.home-manager.users.john.systemd.user.services.emacs.Service]
Environment = [ "COLORTERM=truecolor", "SSH_AUTH_SOCK=/run/user/1337/ssh-auth.sock" ]
LimitNOFILE = 16384

[config.home-manager.users.john.userinfo]
email = "john@insane.se"
fullName = "John Axel Eriksson"
githubUser = "johnae"
gitlabUser = "johnae"

[[config.home-manager.users.john.programs.git.includes]]
condition = "gitdir:~/Development/volvo/" ## note the IMPORTANT trailing slash
contents.user.email = "john.axel.eriksson@consultant.volvo.com"
contents.credential."https://github.com".helper = "${pkgs.scripts}/bin/rbw-git-creds github.com john.axel.eriksson@consultant.volvo.com"
contents.url."https://github.com".insteadOf = "ssh://git@github.com"

[config.programs.dconf]
enable = true

[config.home-manager.users.john.programs.mbsync]
enable = true

[config.home-manager.users.john.services.mbsync]
enable = true
frequency = "*:0/5"

[config.home-manager.users.john.services.imapnotify]
enable = true

[config.home-manager.users.john.services.gitAutoSync.repos."~/Development/org-roam"]
repository = "git@github.com:johnae/org-roam"
sshKey = "/run/agenix/id_ed25519_roam_updater"

[config.home-manager.users.john.services.gitAutoSync.repos."~/Development/org-agenda"]
repository = "git@github.com:johnae/org-agenda"
sshKey = "/run/agenix/id_ed25519_agenda_updater"

[config.home-manager.users.john.accounts.email]
maildirBasePath = "Mail"

[config.home-manager.users.john.accounts.email.accounts.insane]
address = "john@insane.se"
primary = true
flavor = "gmail.com"
mbsync.enable = true
mbsync.create = "both"
mbsync.extraConfig.account.PipelineDepth = 10
passwordCommand = "${pkgs.coreutils}/bin/cat /run/agenix/mbsync-insane"
imapnotify.enable = true
imapnotify.boxes = [ "Inbox" ]
imapnotify.onNotify = "${pkgs.isync}/bin/mbsync insane"
imapnotify.onNotifyPost = "${pkgs.mu}/bin/mu index"

[config.home-manager.users.john.accounts.email.accounts.insane.mbsync.groups.gmail.channels]
inbox.patterns = ["INBOX"]
inbox.extraConfig.Create = "both"
inbox.extraConfig.SyncState = "*"

all.farPattern = "[Gmail]/All Mail"
all.nearPattern = "All"
all.extraConfig.Create = "near"
all.extraConfig.SyncState = "*"

sent.farPattern = "[Gmail]/Sent Mail"
sent.nearPattern = "Sent"
sent.extraConfig.Create = "near"
sent.extraConfig.SyncState = "*"

trash.farPattern = "[Gmail]/Trash"
trash.nearPattern = "Trash"
trash.extraConfig.Create = "near"
trash.extraConfig.SyncState = "*"

drafts.farPattern = "[Gmail]/Drafts"
drafts.nearPattern = "Drafts"
drafts.extraConfig.Create = "near"
drafts.extraConfig.SyncState = "*"

[config.home-manager.users.john.accounts.email.accounts.9000]
address = "john@9000.dev"
userName = "john@9000.dev"
primary = false
imap.host = "mail.9000.dev"
mbsync.enable = true
mbsync.create = "both"
mbsync.extraConfig.account.PipelineDepth = 10
passwordCommand = "${pkgs.coreutils}/bin/cat /run/agenix/mbsync-9000"
imapnotify.enable = true
imapnotify.boxes = [ "Inbox" ]
imapnotify.onNotify = "${pkgs.isync}/bin/mbsync 9000"
imapnotify.onNotifyPost = "${pkgs.mu}/bin/mu index"

[config.home-manager.users.john.accounts.email.accounts.insane.mbsync.groups.9000.channels]
all.patterns = ["*"]
all.extraConfig.Create = "near"
all.extraConfig.SyncState = "*"
all.extraConfig.CopyArrivalDate = "yes"