publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMqXrRzKxAJ7RkKIt+w98rVsT0RWsusdB2EsVd2OwylX"
syncthingDeviceID = "5OGTM2O-IJQ4Z2I-DDMZD33-GIIQCID-VJY7E32-AMOS6JN-WOVZ5TO-CWE2OQM"
profiles = [
  "hardware/usbcore",
  "hardware/yoga-slim-7-amd",
  "profiles/bluez_autoswitch",
  "profiles/default_fs",
  "profiles/hidpi",
  "profiles/home-manager",
  "profiles/interception-tools",
  "profiles/laptop",
  "profiles/pcscd",
  "profiles/state",
  "profiles/syncthing",
  "profiles/tailscale",
]

age.secrets.spotnix = { file = "secrets/spotnix.age", owner = "1337" }
age.secrets.spotifyd = { file = "secrets/spotifyd.age", owner = "1337" }
age.secrets.wifi-networks.file = "secrets/wifi-networks.age"
age.secrets.wg-home.file = "secrets/triton/wg-home.age"
age.secrets.wg-net.file = "secrets/triton/wg-net.age"
age.secrets.id_ed25519_agenda_updater = { file = "secrets/id_ed25519_agenda_updater.age", owner = "1337" }
age.secrets.id_ed25519_bbph = { file = "secrets/id_ed25519_bbph.age", owner = "1337", path = "/home/john/.ssh/id_ed25519_bbph" }
age.secrets.syncthing-cert = { file = "secrets/triton/syncthing-cert.age", owner = "1337" }
age.secrets.syncthing-key = { file = "secrets/triton/syncthing-key.age", owner = "1337" }

services.syncthing.enable = true
services.syncthing.user = "john"
services.syncthing.group = "users"
services.syncthing.openDefaultPorts = true
services.syncthing.folders."/home/john/Sync".id = "sync"
services.syncthing.folders."/home/john/Sync".devices = [
  "eris",
  "polaris"
]
services.syncthing.cert = "/run/secrets/syncthing-cert"
services.syncthing.key = "/run/secrets/syncthing-key"
services.syncthing.dataDir = "/home/john/.local/share/syncthing-data"

services.innernet.client.insane.enable = true
services.innernet.client.insane.settings.interface = { address = "192.168.104.69/22", privateKeyFile = "/run/secrets/wg-home" }
services.innernet.client.insane.settings.server = { publicKey = "Ca4OCVKasunoIVyh3vbp/HyLnrPWp7AOwEuV14PS1QY=", externalEndpoint = "65.108.2.146:51820", internalEndpoint = "192.168.104.1:51820" }

## with zram it makes sense to swap more aggressively
zramSwap.enable = true
boot.kernel.sysctl."vm.swappiness" = 133

users.groups.john.gid = 1337
users.users.john.uid = 1337
users.users.john.shell = "fish"
users.users.john.hashedPassword = "$6$pUcetTdGMZMdzwx$ySPiZXgZUkIGO3jaEXIIEIh6ks8rea9uE5B08SHku2aJUolHeYKrMvhyFvNYcpvYQ/jf7kgOXL8dL0Yn.IuNS."

userConfiguration.john.email = "john@insane.se"
userConfiguration.john.fullName = "John Axel Eriksson"
userConfiguration.john.githubUser = "johnae"
userConfiguration.john.gitlabUser = "johnae"
userConfiguration.john.profiles = [
  "alacritty",
  "bat",
  "chromium",
  "dconf",
  "emacs",
  "firefox",
  "fish",
  "git",
  "i3status-laptop",
  "kanshi",
  "mako",
  "obs",
  "pueue",
  "qutebrowser",
  "rbw",
  "rofi",
  "spotifyd",
  "spotnix",
  "ssh",
  "starship",
  "sway",
  "theme",
  "tmux",
  "wlsunset",
]