system = "x86_64-linux"

[config]
publicKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINYYlrBUYoSbGIoABLr32/8EKlspEWfJ0z5w7QX4xoVL"
syncthingDeviceID = "5OGTM2O-IJQ4Z2I-DDMZD33-GIIQCID-VJY7E32-AMOS6JN-WOVZ5TO-CWE2OQM"

profiles = [
  "profiles/hardware/usbcore",
  "profiles/hardware/yoga-slim-7-amd",
  "profiles/bluez_autoswitch",
  "profiles/default_fs",
  "profiles/greetd",
  "profiles/hidpi",
  "profiles/home-manager",
  "profiles/homedns",
  "profiles/interception-tools",
  "profiles/laptop",
  "profiles/pcscd",
  "profiles/state",
  "profiles/syncthing",
  "profiles/tailscale",
  "profiles/zram",
]

[config.programs.mosh]
enable = true

[config.age.secrets]
spotnix = { file = "secrets/spotnix.age", owner = "1337" }
spotifyd = { file = "secrets/spotifyd.age", owner = "1337" }
wifi-networks.file = "secrets/wifi-networks.age"
wg-home.file = "secrets/triton/wg-home.age"
wg-net.file = "secrets/triton/wg-net.age"
id_ed25519_agenda_updater = { file = "secrets/id_ed25519_agenda_updater.age", owner = "1337" }
id_ed25519_roam_updater = { file = "secrets/id_ed25519_roam_updater.age", owner = "1337" }
id_ed25519_bbph = { file = "secrets/id_ed25519_bbph.age", owner = "1337", path = "/home/john/.ssh/id_ed25519_bbph" }
syncthing-cert = { file = "secrets/triton/syncthing-cert.age", owner = "1337" }
syncthing-key = { file = "secrets/triton/syncthing-key.age", owner = "1337" }
mbsync-insane = { file = "secrets/mbsync-insane.age", owner = "1337", path = "/home/john/.mbsync-insane" }
authinfo = { file = "secrets/authinfo.age", owner = "1337", path = "/home/john/.authinfo" }

[config.services.syncthing]
enable = true
devices.SM-G998B.id = "PCFNIXF-AR7YX2B-354IJQW-YP25QM7-N53ES5L-HKB337S-I6JZV34-55LQEAR"
user = "john"
group = "users"
openDefaultPorts = true
folders."/home/john/Sync".id = "sync"
folders."/home/john/Sync".devices = [
  "eris",
  "polaris",
  "icarus",
  "titan",
  "hyperion"
]
folders."/home/john/Photos".id = "sm-g998b_7dxn foton"
folders."/home/john/Photos".devices = [
  "eris",
  "polaris",
  "icarus",
  "SM-G998B"
]
folders."/home/john/Photos".versioning.type = "staggered"
folders."/home/john/Photos".versioning.params.cleanInterval = "3600"
folders."/home/john/Photos".versioning.params.maxAge = "0"
folders."/home/john/Photos".versioning.params.versionsPath = "/home/john/Photos/stbackup"

cert = "/run/agenix/syncthing-cert"
key = "/run/agenix/syncthing-key"
dataDir = "/home/john/.local/share/syncthing-data"

[config.services.innernet.client.insane]
enable = true

[config.services.innernet.client.insane.settings.interface]
address = "192.168.104.69/22"
privateKeyFile = "/run/agenix/wg-home"

[config.services.innernet.client.insane.settings.server]
publicKey = "Ca4OCVKasunoIVyh3vbp/HyLnrPWp7AOwEuV14PS1QY="
externalEndpoint = "65.108.2.146:51820"
internalEndpoint = "192.168.104.1:51820"

[config.users.groups.john]
gid = 1337

[config.users.users.john]
uid = 1337
shell = "nushell"
hashedPassword = "$6$pUcetTdGMZMdzwx$ySPiZXgZUkIGO3jaEXIIEIh6ks8rea9uE5B08SHku2aJUolHeYKrMvhyFvNYcpvYQ/jf7kgOXL8dL0Yn.IuNS."

[config.home-manager.users.john]
profiles = [
  "users/profiles/alacritty",
  "users/profiles/bat",
  "users/profiles/chromium",
  "users/profiles/dconf",
  "users/profiles/emacs",
  "users/profiles/eww",
  "users/profiles/firefox",
  "users/profiles/fish",
  "users/profiles/git",
  "users/profiles/i3status-laptop",
  "users/profiles/kanshi",
  "users/profiles/kubie",
  "users/profiles/mako",
  "users/profiles/nushell",
  "users/profiles/obs",
  "users/profiles/pueue",
  "users/profiles/qutebrowser",
  "users/profiles/rbw",
  "users/profiles/river",
  "users/profiles/rofi",
  "users/profiles/spotifyd",
  "users/profiles/spotnix",
  "users/profiles/ssh",
  "users/profiles/starship",
  "users/profiles/sway",
  "users/profiles/tmux",
  "users/profiles/waybar",
  "users/profiles/wlsunset",
]

[config.home-manager.users.john.userinfo]
email = "john@insane.se"
fullName = "John Axel Eriksson"
githubUser = "johnae"
gitlabUser = "johnae"
gitIdMap."~/Development/planhat/" = "john.eriksson@planhat.com"

[config.home-manager.users.john.programs.mbsync]
enable = true

[config.home-manager.users.john.programs.rbw]
settings.device_id = "d99037cd-bcbb-47cc-ac3b-75642e10dbb8"

[config.home-manager.users.john.services.mbsync]
enable = true
frequency = "*:0/5"

[config.home-manager.users.john.services.gitAutoSync.repos."~/Development/org-roam"]
repository = "git@github.com:johnae/org-roam"
sshKey = "/run/agenix/id_ed25519_roam_updater"

[config.home-manager.users.john.services.gitAutoSync.repos."~/Development/org-agenda"]
repository = "git@github.com:johnae/org-agenda"
sshKey = "/run/agenix/id_ed25519_agenda_updater"

[config.home-manager.users.john.accounts.email]
maildirBasePath = "Mail"

[config.home-manager.users.john.accounts.email.accounts.insane]
address = "john@insane.se"
primary = true
flavor = "gmail.com"
mbsync.enable = true
mbsync.create = "both"
mbsync.extraConfig.account.PipelineDepth = 10
passwordCommand = "/run/current-system/sw/bin/cat ~/.mbsync-insane"

[config.home-manager.users.john.accounts.email.accounts.insane.mbsync.groups.gmail.channels]
inbox.patterns = ["INBOX"]
inbox.extraConfig.Create = "both"
inbox.extraConfig.SyncState = "*"

all.farPattern = "[Gmail]/All Mail"
all.nearPattern = "All"
all.extraConfig.Create = "near"
all.extraConfig.SyncState = "*"

sent.farPattern = "[Gmail]/Sent Mail"
sent.nearPattern = "Sent"
sent.extraConfig.Create = "near"
sent.extraConfig.SyncState = "*"

trash.farPattern = "[Gmail]/Trash"
trash.nearPattern = "Trash"
trash.extraConfig.Create = "near"
trash.extraConfig.SyncState = "*"

drafts.farPattern = "[Gmail]/Drafts"
drafts.nearPattern = "Drafts"
drafts.extraConfig.Create = "near"
drafts.extraConfig.SyncState = "*"